---
import Head from "../html/Head.astro";

import Footer from "../html/Footer.astro";

const { pageId } = Astro.props;
---

<html lang="en">
  <Head />
  <body id={pageId}>
    <slot />
    <Footer />
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        color: var(--main_white);
        background: url("./svgs/logo_background-repeat.png") repeat;
        background-color: var(--main_black);
      }
    </style>
  </body>
</html>
