---
import Head from "../html/Head.astro";
import Body from "../html/Body.astro";
import Footer from "../html/Footer.astro";

const { pageId } = Astro.props;
---

<html lang="en">
  <Head />
  <Body pageId={pageId}>
    <slot />
    <Footer />
  </Body>
  <style>
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: auto;
    }
  </style>


</html>
