---
import Head from "../html/Head.astro";
import Body from "../html/Body.astro";
import Footer from "../html/Footer.astro";
import { BackgroundImage } from "@components/blocks";

const { pageId } = Astro.props;
---

<html lang="en">
  <Head />
  <Body pageId={pageId}>
    <!-- <BackgroundImage> -->
    <slot />
    <!-- </BackgroundImage> -->
    <Footer />
  </Body>
</html>
