---
import Head from "../html/Head.astro";

import Footer from "../html/Footer.astro";

const { pageId } = Astro.props;
---

<html lang="en">
  <Head />
  <body id={pageId}>
    <slot />
    <Footer />
    <style>
      body {
        display: flex;
        width: 100vw;
        flex-direction: column;
        align-items: center;
        color: var(--main_white);
        background-color: var(--main_white);
      }
    </style>
  </body>
</html>
