---
import Text from "@components/base/text/Text.astro";
import ArticleLink from "@components/custom/ArticleLink.astro";

import type { FrontMatterContent } from "@typesAh/article";

import { dateDisplay } from "@utils/date_actions";
interface Props {
  listedArticles?: [FrontMatterContent];
}

const { listedArticles = [] } = Astro.props;
---

<div id="articleContent" class="articleContent_listing">
  {
    listedArticles.map((post: any) => (
      <div
        id={post.frontmatter.slug.split("-").join("_")}
        class="postBlock postBlock_header"
      >
        <Text tag="h3">{post.frontmatter.title}</Text>
        <Text tag="p">{dateDisplay(post.frontmatter.publishDate)}</Text>
        <ArticleLink
          textDisplay="Read Article"
          linkTo={`/articles/${post.frontmatter.slug}`}
        />
      </div>
    ))
  }
</div>

<style>
  .articleContent_listing {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .postBlock {
    display: flex;
    flex-direction: column;
  }
  .postBlock_header {
    display: grid;
    grid-template-rows: max-content 50px;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: space-between;
  }
</style>
