---
const { title } = Astro.props;

import Text from "../../components/base/text/Text.astro";
---

<section>
  <div class="section_heading">
    <Text class="section_heading" tag="h2">{title}</Text>
  </div>
  <div class="section_content">
    <slot />
  </div>
</section>
<style>
  section {
    width: 100%;
    margin: 35px 0px;
    display: grid;
    grid-template-rows: 55px max-content;
  }

  .section_heading {
    text-align: center;
  }
  .section_header {
    margin: 25px;
  }
  .section_content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 25px;
  }
</style>
