
{% assign reverseOrderPost = collections.latest | reverse %}
 


<div class="postListing">

    {%- for i in  reverseOrderPost-%}
    <p>{{ i.data.title }}</p>
    {%- endfor -%}
    
    <!-- <div class="postListing__heading">
        <h3 class="postListing__title">{{ latestPost.data.title }}</h3>
        <p class="postListing__date">{{latestPost.data.date | datefriendly }}</p>
    </div>

        <p class="postListing__description">{{latestPost.data.slug}}</p>
    <div class="link_dark postLink">
            <a  href="{{ latestPost.url }}">READ MORE</a>
    </div>

    <div class="postTag">
        <h4>Tags:</h4>
        <ul class="postTag__tagList">
            {%- for tag in latestPost.data.tags -%}
            <li>{{tag}}</li>
            {%- endfor -%}
        </ul>
    </div> -->

</div>