
{% assign reverseOrderPost = collections.post | reverse%}


{% assign latestThreeArticles = reverseOrderPost  | first  %}


 


{%- for i in  latestThreeArticles -%}
<div class="postListing">

    <div class="postListing__heading">
        <h3 class="postListing__title">{{ i.title }}</h3>
    </div>
    
    <p class="postListing__description">{{i.slug }}</p>
    <div class="link_dark postLink">
        <a  href="{{ i.url }}">READ MORE</a>
    </div>
    
</div>
{%- endfor -%}
<div class="articlePage__linkArticlePage">
    <a class="articlePage__linkArticlePage--button" href="/articles/">All Articles</a>
</div>