

<section class="container" id="interest">
      <h2 class="section_heading">Interest</h2>
      <div class="section__description">
        <p>
          I have been learning about building digital products for 4 years(2017). Inspired to remove some of the
          "copping and pasting" of results. Ultimately landing on Python, which led me to become a Full Stack Engineer
          and able to see what is possible through coding. Full-stack resonates with me. It gives me the opportunity to
          see how everything is connected and how to work with different areas.
        </p>
      </div>
      <ul class="section__info">
        <li>
          <h3>Front-end Experiences</h3>
          <p>
            I have worked on building with basic HTML/CSS to client-render apps. Primarily focused on building user
            Interfaces with
            React.js. Learning best practices and the whole React ecosystem. I have favored working with the Next.js for
            server-side
            rendering and dabbled building static sites with Gatsby.
          </p>
        </li>
        <li>
          <h3>Back-end Knowledge</h3>
          <p>
            I built a couple of REST APIs using Express.js and Django REST Framework. I worked on cleaning up data and
            saving it to
            a database. Still, a lot to learn but like to be able to understand the full spectrum of a web application.
          </p>
        </li>
        <li>
          <h3>Splash of Database</h3>
          <p>
            when building a web application, the data would have to be retrieved and saved. Written some SQL to query
            some data and
            save the results. Wanting to create a database that would scale to my project and allow me to add tables
            without
            duplicating files.
          </p>

        </li>
      </ul>
      <a class="navigationLink toTopLink" href="#header">Top</a>
    </section>
