{% include "partials/htmlHead.liquid" %}


<header>
    <div>
        <h1 class="pageTitle">{{ pageTitle }}</h1>
        <p>FULL STACK, REACT.js, OPEN TO LEARN, DIVERSE IN KNOWLEDGE</p>
    </div>

    <nav>
        {% navlist collections.all | eleventyNavigation, page, 1  %}
    </nav>
    
</header>

<main>
    {% block content %}

{{ content | safe}}

  {% include "partials/pagelist.njk" %}
    

{% endblock %}
</main>



{% include "partials/htmlFoot.liquid" %}



