{% include "partials/htmlHead.liquid" %}


<header>
    <nav>
        {% navlist collections.all | eleventyNavigation, page, 1  %}
    </nav>
</header>

<h1>{{ pageTitle }}</h1>
<main>

{{ content | safe}}

</main>`

<footer>
  <nav>
    {% navlist collections.all | eleventyNavigation, page, 2 %}
  </nav>
</footer>

{% include "partials/htmlFoot.liquid" %}



