{% include "partials/htmlHead.liquid" %}


<header>
    <h1 class="pageTitle">{{ pageTitle }}</h1>

    <nav>
        {% navlist collections.all | eleventyNavigation, page, 1  %}
    </nav>
    
</header>

<main>
    {% block content %}

{{ content | safe}}

  {% include "partials/pagelist.njk" %}
    

{% endblock %}
</main>



{% include "partials/htmlFoot.liquid" %}



