{% extends "layout.njk" %}

{% block content %}
<div class="pageContent">

  <h1>{{ title }}</h1>
  
  {% if date %}<p class="time"><time datetime="{{ date }}">{{ date }}</time></p>{% endif %}
  
  <p class="words">{{ content | wordcount }} words</p>
  
  {{ content | safe }}
  
  <div class="articlePage__nav">

    {% set nextPost = collections.post | getNextCollectionItem(page) %}
    {% if nextPost %}<p>Next article: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></p>{% endif %}
    
    {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
    {% if previousPost %}<p>Previous article: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></p>{% endif %}
  </div>
  
</div>
{% endblock %}