---
import { Box, Text, Logo, BGImageBase } from "@components/lib_comps";
import { NavBar } from "@components/blocks";
---

<Box varient="light">
  <div class="hero_main">

    <div class="logo_float">
      <Logo size="20%" />
    </div>


    <Text tag="h2" class="hero_text-main">
      Full Stack developer,<br />
      Over-all Generalist,
      <br /> Husband of 1,
      <br /> Father of 6
    </Text>
    

      <div class="hero_text">
        <Text tag="p">
          I have had the experience to lead and release dozens projects in
          automotive eningeering. Started my coding journey in 2016, with Python
          scripting which help automated engineering data extraction. From there
          I went to front end development and building app with modern JS
          framworks. In 2022, I worked professionally as an application
          developer maintaining an app with Vue, JSX and Typescript. I
          coordinate with multiple groups and teams to accomplish tasks for the
          success of the project. I make alway make time to learn new
          technologies and always interested in improving my coding skills and
          lending hands to others. I want to keep moving forward and making
          things better than the way I found it.
        </Text>
      </div>
      <div>
        
        <Text tag="h3">
          Current Stack of Interest
          
        </Text>
        <Text tag="p">
          Python, FastAPI, HTMX

        </Text>
      </div>

  </div>
</Box>
<style>

  .hero_main {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    padding-top: 90px;
    padding-bottom: 50px;
  }
  .hero_text-main {
    line-height: 1.5;
  }
  .hero_text {
    margin-top: 60px;
   width: 60%;
   --ptag_fontSize: 20px;
   --ptag_line-height: 1.3;
  }
  .logo_float {
    width: 80vw;
    display: flex;
    justify-content: center;
  }

  @media (max-width: 640px) {
    .hero_main {
      display: flex;
      flex-direction: column;
    }
    .hero_text-main {
      line-height: 1.2;
    }
    .hero_text{
      width: 95%;
    }
  }
</style>
