---
import { Box } from "@components/lib_comps/";
import { BottomCurve } from "@components/svg";

import Stackbliz from "@components/Stackbliz.astro";
import Replit from "@components/Replit.astro";

import SocialLink from "@components/blocks/SocialLink.jsx";
---

<footer>
  <Box varient="dark">
    <BottomCurve />

    <Stackbliz />
    <Replit />
    <SocialLink />

    <p class="m-2 text-xs font-thin">
      All Rights Reserved |Website & Hosting by Matterholt made
    </p>
  </Box>
</footer>

<style>
  footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
  }
</style>
