---
import SocialLink from "../../components/SocialLink.jsx"
---

    <section class="landingsection" >
      <div class="landing_card">
        <div class="landing_title">
          <h2>React and React Navtive Developer</h2>
        </div>
        <div class="subcontent">
          <p>
         I build digital products that help enhance and improve the world. 
          I have specialized React and React Native developement. 
          But I dabble in  Node, Python for automation and even visual basic
            to help with some excel. 
            </p>
        </div>
      </div>
      <SocialLink />
    </section>

<style>
.landing_title{
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
font-size: 2rem;
font-weight: 800;
}
.subtitle{
  font-size:1.5rem;
  font-weight: 100;
  width:52%;
}
.subcontent{
  color:#396071;
  font-size: 1.5rem;
  text-align: center;
  width:40%;
}
.landingsection{
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    font-size: 2rem;
}
.landing_card {
  line-height: 1.6;
  color: var(--fav-dark);
  background-color: var(--main-white);
  width: 75%;
  padding: 50px;
  border-radius: 10px;
  display: grid;
  place-items: center;
}


</style>