---
const {parentColor}=Astro.props

const containerColor = {
    bgDark: "bg-myDark text-slate-200",
    bgLight: "bg-slate-200"
}
---
<section class=`flex min-h-screen p-10  ${containerColor[parentColor]}`>
    <slot/>
</section>