<div class="writeup_content">
  <slot />
</div>
<style is:global>
  .writeup_content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 30px 1fr;
    gap: 10px;
  }

  .writeup_content h2 {
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
    grid-column: 2;
    grid-row: 1;
  }
  .writeup_content p {
    margin-top: 45px;
    line-height: 30px;
  }
  .writeup_content ul {
    color: gray;
    grid-column: 2;
    grid-row: 2;
    list-style-type: circle;
    li {
      margin: 10px;
      p {
        margin: 0px;
        /* line-height: 10px; */
      }
    }
  }
</style>
