---
import Text from "@components/base/text/Text.astro";
const allPosts = Object.values(
  import.meta.glob("../../../content/articles/*.md", { eager: true }),
);
const uniqueTags = [
  ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
];
---

<div>
  <Text tag="h2"> list of tags </Text>
  {uniqueTags.map((x) => <li>{x}</li>)}
</div>
