 .bar {
     width: 100%;
     padding: 10px 0;
     margin-bottom: 10px;
     background: var(--light-accent);
     width: 100%;
 }

 .navlist {
     list-style: none;
     display: flex;
     flex-flow: row;
     text-align: center;
 }