.header_container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    color: var(--main_orange);
    width: 100%;
    padding: 25px 0;
}

.header {
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    letter-spacing: 2px;
    width: 100vw;
    margin: 0 25px;
    font-family: 'Bangers',
        cursive;
    font-weight: bolder;
}

.headOne {
    align-self: start;
    justify-self: start;
    font-size: 35px;
    white-space: nowrap;
    z-index: 10;
    grid-column: 1;
    grid-row: 1;
}

.headTwo {
    align-self: center;
    justify-self: center;
    letter-spacing: 8px;
    z-index: 10;
    font-size: 100px;
    grid-column: 1 / span 3;
    grid-row: 2;
}

@media (max-width:600px) {
    .headOne {
        font-size: 20px;
    }

    .headTwo {
        font-size: 60px;
    }
}