:root {
    --main-blue: #2e4052;
    --main-purple: #291528;
    --light-accent: #ffc857;
    --light_white-accent: #cfcfcd;
}

/*

    --main-bg-color: #291528;
    --light-accent: hsl(40, 89%, 55%);
    --light-mint: #80ddbb;

*/



body {
    font-family: Helvetica,
        "Trebuchet MS",
        Verdana,
        sans-serif;
    display: flex;
    padding: 0;
    margin: 0;
    background: var(--main-blue);
    color: var(--light_white-accent);
}

h1 {
    margin: 0;
}