:root {
    --main_blue: #2e4052;
    --main_purple: #291528;
    --main_orange: #fbb400;
    --light_white: #e8ebe4;
    --my_gray: #464646;
}


.temp {
    --main_red: #663f46;
    --light-gray: #b3b6b7;

    --blue_option: #2d3f53;
}

body {
    font-family: Helvetica,
        "Trebuchet MS",
        Verdana,
        sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    margin: 0;
}

@font-face {
    font-family: 'Bangers';
    src: url("../assets/fonts/Bangers/Bangers-Regular.ttf")
}

@font-face {
    font-family: 'Open_Sans';
    src: url("../assets/fonts/Open_Sans/OpenSans-Regular.ttf")
}

@font-face {
    font-family: 'Roboto';
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf")
}

.main {
    width: 100vw;
    min-height: 100vh;
    background-color: #2e4052;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%464646' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    justify-content: center;
}

.subtitle {
    grid-column-start: 1;
    grid-column-end: 3;
}

.content {
    min-height: 60vh;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    padding: 15px;
    line-height: 1.6;
    letter-spacing: 0.7px;
    color: var(--light_white);
    margin: 10px;
    border-radius: 5px;
    font-family: 'Roboto',
        sans-serif;

}

.writeup {
    grid-column-start: 2;
    grid-row-start: 2;
}

.content__container {
    list-style: none;
    padding: 25px;
    background: linear-gradient(150deg, #93a0ae 20%, #6b7c8e, #93a0ae);
    border-radius: 5px;
    color: var(--main_purple);
    margin: 25px 0;
}

.content_title {
    font-weight: 900;
    margin: 0;
    padding: 0;
}

.project_container {
    padding: 0;
    margin: 0;
    grid-column: 2;
}

.gradient_card {
    background: linear-gradient(125deg, #657280, #464646);
    border-radius: 5px;
    box-shadow: 1px 5px 9px;
}

.description {
    grid-column: 2;
    grid-row: 1;
}

@media (max-width: 480px) {
    .content {
        grid-template-columns: 1fr;
        padding: 15px;
        margin: 0px;
    }

}