---
import LargeLetter from "../large_letter/LargeLetter.astro";
---

<div class="role_card">
  <LargeLetter char="R" />
  <slot />
</div>

<style>
  .role_card {
    background-color: var(--main_white);
    color: var(--main_black);
    border-radius: 5px;
    margin: 55px;
    padding: 20px;
    height: min-content;
  }
</style>
