---
import LargeLetter from "../large_letter/LargeLetter.astro";
const { asignChar } = Astro.props;
---

<div class="role_card">
  <LargeLetter char={asignChar} />
  <div class="role_card_title">
    <slot name="role_title" />
  </div>
  <div class="role_card_content">
    <slot />
  </div>
</div>

<style>
  .role_card {
    background-color: var(--main_white);
    color: var(--main_black);
    border-radius: 5px;
    margin: 70px 55px;
    padding: 20px;
    height: min-content;
    display: grid;
    grid-template-rows: 1px 75px 1fr;
  }
  .role_card_title {
    place-self: center;
  }
</style>
