---
import FeatAside from "./FeatsAside.astro"
const {feats} = Astro.props
---

<aside>
    <h3>Accomplishments</h3>
    <ul>
     {feats.map(x => <li key={x.id}><FeatAside feat={x}/></li>)}
    </ul>
</aside>

<style>
h3{
    text-align: center;
    font-weight: 900;
    padding-bottom: 10px;
    border-bottom: solid 2px var(--fav-accent);
}
    aside{
         max-width: 640px;
         }
ul{
    overflow-y: scroll;
    height: 100vh;
    list-style: none;
    margin:0;
    padding:0;
}
</style>