---
import CareerHistory from './CareerHistory.astro'

const{jobTitle,jobDescription,positionTitle} = Astro.props

---

<div class="workSection">
    <h3 class="workSection__header">{jobTitle}</h3>
    <p class="workSection__context">
    {jobDescription}
  </p>
    <CareerHistory positionTitle={positionTitle}/>
</div>



<style>
    .workSection__header{
        text-align: center;
        color: var(--fav-dark);
        border-bottom: solid var( --fav-accent);
        font-size: 1.5em;
        padding: 20px;
        margin: 0;
    }
    .workSection__context{
        margin-bottom: 100px;

    }
    /* create more distance from the "job that i have done" new container needs more distance from teh  */
    .workSection{
        padding: 0 20px;
        margin-bottom: 70px;
    }
</style>