page_header---
const {
  varient = "base",
  class: className,
  ...rest
} = Astro.props;



const isBase = varient === "base" ? "flex flex-col border rounded-xl p-6":"border rounded-xl p-6"; 
const isLight = varient === "light" ? "bg-main_white text-main_black" : "bg-main_black text-main_white" ;

---

<div class:list={[  isBase,isLight,
 className]}   {...rest}>
<slot/>
</div>


<style>
  
</style>
