---
const {
  varient = "base",
  class: className,
  ...rest
} = Astro.props;



const isBase = varient === "base" ? "flex flex-col ":""; 

---

<div class:list={[isBase, "bg-main_black border rounded-md p-6",
 className]}   {...rest}>
<slot/>
</div>

