---
import { getCollection, render } from "astro:content";

import JobList from "./JobList.astro";

const [latestPositon] = await getCollection("positions", ({ data }) => {
  return data.isCurrent === true;
});
const { Content } = await render(latestPositon);
---

<div class="currentCareerPosition">
  <JobList contentFrontMatter={latestPositon.data} />
  <div class:list={["currentCareerPosition_content", "scopedContent"]}>
    <Content />
  </div>
</div>
<style>
  .currentCareerPosition_content {
    --globalList_listStypeType: disc;
  }
</style>
