---
import { getCollection, getEntry, render } from "astro:content";

import Text from "../base/text/Text.astro";
import JobList from "./JobList.astro";

const [latestPositon] = await getCollection("positions", ({ data }) => {
  return data.isCurrent === true;
});
const { Content, headings } = await render(latestPositon);
---

<div class="currentCareerPosition">
  <JobList contentFrontMatter={latestPositon.data} />
  <div class:list={["currentCareerPosition_content", "scopedContent"]}>
    <Content />
  </div>
</div>
<style></style>
