---
import { render } from "astro:content";
import Text from "../base/text/Text.astro";
import List from "../base/list/List.astro";

const { jobPositions } = Astro.props;
const { Content } = await render(jobPositions);

const { jobTitle, type, location, workingDate, employer } = jobPositions.data;

const sortingHTML = jobPositions.rendered.html.split("\n");
const introText = sortingHTML.slice(0, 1);
const detailText = sortingHTML.slice(1, -1);
---

<div class="currentCareerPosition">
  <div class="joblist">
    <Text tag="h3">{jobTitle}: {employer}</Text>
    <List
      class:list={["joblist_details scopedContent"]}
      listItems={[workingDate, type, location]}
    />
  </div>
  <div class:list={["currentCareerPosition_content", "scopedContent"]}>
    <div set:html={introText} />

    <sl-details summary="Toggle Me">
      <div set:html={detailText} />
    </sl-details>
  </div>
</div>
<style></style>
