---
import { getEntry, render } from "astro:content";
import Text from "../base/text/Text.astro";
import List from "../base/list/List.astro";

const { jobPositions } = Astro.props;
const { Content, headings } = await render(jobPositions);

const { jobTitle, type, location, workingDate } = jobPositions.data;
---

<div class="currentCareerPosition">
  <div class="joblist">
    <Text tag="h3">{jobTitle}</Text>
    <List
      class:list={["joblist_details scopedContent"]}
      listItems={[workingDate, type, location]}
    />
  </div>
  <div class:list={["currentCareerPosition_content", "scopedContent"]}>
    <Content />
  </div>
</div>
<style></style>
