---
interface Props {
  contentFrontMatter: {
    jobTitle: string;
    type: string;
    location: string;
    workingDate: string;
  };
}
const { contentFrontMatter } = Astro.props;

import List from "../base/list/List.astro";

const { jobTitle, type, location, workingDate } = contentFrontMatter;
---

<div class="joblist">
  <List
    class="joblist_details scopedContent"
    listItems={[jobTitle, location, type, workingDate]}
  />
</div>

<style>
  .joblist {
  }
  .joblist_details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    font-weight: 200;
  }
</style>
