---
import "@fontsource-variable/doto";
interface Props {
  activePage?: string;
}
const { activePage = "" } = Astro.props;

const navLinks = [
  { title: "Home", path: "/" },
  { title: "Careers", path: "/careers" },
];
const isPage = (title) => title === activePage;
---

<nav>
  {
    navLinks.map((x) => (
      <a
        class:list={[{ isActive: isPage(x.title) }, "fontStyle"]}
        href={x.path}
      >
        {x.title}
      </a>
    ))
  }
</nav>
<style>
  nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 35px;
    margin: 25px 0px;
    a {
      color: var(--main_white);
    }
    a:active {
      color: var(--main_white);
    }
  }
  .fontStyle {
    text-decoration: none;
    font-family: "Doto Variable", sans-serif;
    font-weight: 500;
    font-size: 25px;
  }
  a.isActive {
    color: var(--main_accent-blue);
    border-bottom: none;
    border-bottom: 2px dotted var(--main_accent-blue);
    cursor: default;
    pointer-events: none;
  }
</style>
