---
import "@fontsource-variable/doto";

const navLinks = [
  { title: "Home", path: "/" },
  { title: "Careers", path: "/careers" },
  { title: "Articles", path: "/articles" },
];

const { pathname } = Astro.url;

const isPage = (title: string) => {
  const urlPath = pathname.split("/");
  if (title === "Home" && urlPath.every((x) => x === "")) {
    return true;
  }
  return urlPath.includes(title.toLowerCase());
};

// TODO:  work on menu for mobile, make i a drop down or somethieng
---

<nav>
  {
    navLinks.map((x) => (
      <a
        class:list={[{ isCurrentPage: isPage(x.title) }, "fontStyle"]}
        href={x.path}
      >
        {x.title}
      </a>
    ))
  }
</nav>
<style>
  nav {
    --linkFontStype-fontSize: 25px;
    display: flex;
    justify-content: center;
    height: 35px;
    margin: 25px 0px;
    a {
      color: var(--main_complementary);
      margin: 0 20px;
    }
    a:active {
      color: var(--main_white);
    }
    a:hover {
      font-weight: 900;
    }
  }
  .fontStyle {
    text-decoration: none;
    font-family: "Doto Variable", sans-serif;
    font-weight: 500;
    font-size: var(--linkFontStype-fontSize, 25px);
  }
  a.isCurrentPage {
    border-bottom: none;
    color: var(--main_accent-blue);
    border-bottom: 2px dotted var(--main_accent-blue);
    cursor: default;
    pointer-events: none;
  }

  @media screen and (max-width: 790px) {
    nav {
      --linkFontStype-fontSize: 15px;

      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }
</style>
