---
interface Props {
  allTags: string[];
}

const { allTags } = Astro.props;
---

<ul id="tagCollection_list">
  {allTags.map((tag) => <li class={tag.toLocaleLowerCase()}>{tag}</li>)}
</ul>

<style>
  .targetedTag {
    background-color: #ffffff52;
  }
  ul {
    font-size: 10px;
    isplay: flex;
    list-style: none;
    gap: 10px;
    margin: 0pc;
    padding: 10px;
    outline: solid white;
    text-transform: uppercase;
    li {
      padding: 5px;
      border-radius: 5px;
    }
  }
</style>
