---
interface Props {
  allTags: string[];
}

const { allTags } = Astro.props;
---

<div>
  <ul>
    {allTags.map((tag) => <li>{tag}</li>)}
  </ul>
</div>

<script>
  const activeTags = [""];
</script>
<style>
  ul {
    font-size: 10px;
    display: flex;
    list-style: none;
    gap: 10px;
    margin: 0pc;
    padding: 0px;
    text-transform: uppercase;
  }
</style>
