---
interface Props {
  allTags: string[];
}

const { allTags } = Astro.props;
---

<div>
  <ul>
    {allTags.map((tag) => <li>{tag}</li>)}
  </ul>
</div>

<script>
  const activeTags = [""];
</script>
