---

---

<div class="bg-fixed flex flex-wrap justify-center heroOverlay w-screen py-7">
  <slot />
</div>
<style>
  .heroOverlay {
    height: 100%;
    background-image: url(/images/hero/matterhorn.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
</style>
