@tailwind base;
@tailwind components;
@tailwind utilities;
.root,
:root,
#root,
#docs-root {
  --bg-primary: #091f30;
  --bg-primary-black: #293241;
  --bg-primary-white: #e6e8ea;
  --secondary: #a0aec0;
  --accent: #bf8f2b;
  --bg-primary-60: #6b7983;
  --bg-primary-30: #b5bbc0;
  --main_black: rgb(24 24 27); /* //text-zinc-900 */
  --main_white: rgb(248 250 252); /* //text-zinc-50 */
  --main_gold: rgb(191, 143, 43); /* gold */
}
body {
  background-color: red;
}
@font-face {
  font-family: "Hanuman-reg";
  src: url("fonts/Hanuman-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Hanuman-thin";
  src: url("fonts/Hanuman-thin.ttf") format("truetype");
}

@layer utilities {
  .bg-myDark {
    background-color: #091f30;
  }
  .text-myDark {
    color: #091f30;
  }
  .primary60 {
    background-color: #6b7983;
  }
  .primary30 {
    background-color: #b5bbc0;
  }
  .primary10 {
    background-color: #e6e8ea;
  }
  .fontprimary10 {
    color: #e6e8ea;
  }
  .text-accent {
    color: #d4b257;
  }
  .customBorderBottom {
    padding-bottom: 20px;
    border-bottom: 2px solid #d4b257;
  }
  .text-vertMode {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  .customFont-Anton {
    font-family: "Anton", sans-serif;
  }
}
