@tailwind base;
@tailwind components;
@tailwind utilities;
.root,
#root,
#docs-root {
  --primary: #091f30;
  --secondary: #a0aec0;
  --accent: #d4b257;
}

@layer utilities {
  .bg-myDark {
    background-color: #091f30;
  }
  .text-myDark {
    color: #091f30;
  }
  .text-accent {
    color: #d4b257;
  }
  .text-vertMode {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
  .customFont-Anton {
    font-family: "Anton", sans-serif;
  }
}
