---
const { activeClass, id, link, varient = "page" } = Astro.props;

const styleVarients = {
  page: "internalPage",
  base: "base",
};
---

<a
  class:list={["link", activeClass, styleVarients[varient]]}
  id={id}
  href={link}
>
  <slot />
</a>

<style>
  .link {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    border-radius: 5px;
    min-width: 95px;
    padding: 5px;
    text-align: center;
  }
  .link:hover {
    background-color: var(--bg-primary-white);
    color: var(--bg-primary);
  }
  .current {
    background-color: var(--bg-primary);
    color: var(--bg-primary-white);
  }
  .link::after {
    color: var(--accent);
    padding-left: 5px;
  }
  .internalPage::after {
    content: "/";
  }
</style>
