---
const {imageLayer} = Astro.props

---

<div class:list={[imageLayer,"heroOverlay w-screen overflow-none"]}>
  <slot />
</div>
<style>
  .base_image{
    position:relative;
    z-index: 5;
    top: 0;
    right:0;
    --hero_background_image : url(/images/hero/profile2_me-whitewBG.png);
  }
  .one_image {
    position:absolute;
    z-index: 10;
    top: 0;
    right:0;
    --hero_background_image : url(/images/hero/profile2_me-white.png);

  }


  .heroOverlay {
    height: 100%;
    
    background-image: var(--hero_background_image );
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
