---
import Text from "../text/Text.astro";
import Logo from "@components/custom/Logo.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<header>
  <slot name="topNav" />
  <div class="header_titleLayout">
    {title ? <Text tag="h1">{title}</Text> : <Logo size={50} />}
  </div>
</header>
<style>
  header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .header_titleLayout {
    display: flex;
  }
</style>
