---
const { postFrontMatter } = Astro.props;
import { Text, Alink } from "@components/lib_comps/";
import { SectionContainer } from "@components/blocks";
console.log(postFrontMatter);
---

<SectionContainer>
  <div class="post_header">
    <Text tag="h4">
      {postFrontMatter.data.title}
    </Text>
    <p>{postFrontMatter.data.pubDate}</p>
  </div>
  <p>{postFrontMatter.slug}</p>
  <Alink link={`/posts/${postFrontMatter.slug}/`}>Read Rest</Alink>
</SectionContainer>
