---
const {postFrontMatter, Text}= Astro.props



---

<SectionContainer>
    <a href={url}>
      <div class="post_header">
        <Text tag="h4">
          {title}
        </Text>
        <p>{pubDate.slice(0, 10)}</p>
      </div>
    </a>
    <p>{slug}</p>
    <Alink id="test" link="./writeups" title="other write ups" />
  </SectionContainer>