---
import { Text } from "@components/lib_comps/index";

interface Props {
  interPath: string;
}
const { interPath } = Astro.props;
---

<div class="internal_link_container">
  <a href={interPath}>
    <Text class="internal_link_text">
      <slot />
    </Text>
    <svg
      class="internal_link_svg"
      width="29mm"
      height="29mm"
      viewBox="0 0 39 39.6875"
      version="1.1"
      id="svg1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg"
    >
      <defs id="defs1"></defs>
      <g id="layer1">
        <path
          style="opacity:1;stroke:none;stroke-width:4.99999;stroke-linecap:round;stroke-linejoin:round;stroke-opacity:0.180392"
          d="M 0,39.6875 V 0 l 39.6875,19.84375 z"
          id="path1"></path>
      </g>
    </svg>
  </a>
</div>
<style>
  .internal_link_text {
    z-index: 10;
    font-weight: 900;
    letter-spacing: 0.1em;
    color: var(--main_gold);

    position: absolute;
    top: var(--internal_link_text_position-top,25px);
    left: 12px;
  }
  .internal_link_container {
    width: 125px;
    height: 125px;
    background-color: var(--main_black);
    border-radius: 100%;
    display: grid;
    place-items: center;
    position: relative;
    z-index: 2;
  }
  .internal_link_svg {
    fill: var(--main_white);
    position: absolute;
    left: 13px;
    top: -5px;
    z-index: -5;
  }
</style>
