---
import { getCollection, render } from "astro:content";

import Base from "../../layouts/Base.astro";
import TagList from "../../components/base/tagList/TagList.astro";

export async function getStaticPaths() {
  const posts = await getCollection("articles");
  return posts.map((p) => ({
    params: { slug: p.data.slug },
    props: { post: p },
  }));
}

const { post } = Astro.props;
const { title, publishDate, tags } = post.data;
const { Content } = await render(post);
---

<Base title={title} activePage="Articles">
  <div slot="mainContent">
    <div class="subNav">
      <p>{publishDate.toString().slice(0, 15)}</p>
      <a href="/articles"> All Articles</a>
      <TagList tags={tags} />
    </div>
    <div class="scopedContent">
      <article>
        <Content />
      </article>
    </div>
  </div>
</Base>
<style>
  .subNav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    a {
      justify-self: flex-end;
    }
  }
</style>
