---
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("articles");
  return posts.map((p) => ({
    params: { slug: p.data.slug },
    props: { post: p },
  }));
}

const { post } = Astro.props;
const { title, slug, description, publishDate } = post.data;
const { Content } = await render(post);
---

<header>
  <p>{publishDate}</p>
  <h1>{title}</h1>
  <hr />
</header>
<div class="container">
  <article class="content">
    <Content />
  </article>
</div>
