---
import { getCollection, render } from "astro:content";
import type { Article } from "@typesAh/article";

import { dateDisplay } from "@utils/dateActions.ts";
import Base from "@layouts/Base.astro";

interface Props {
  post: Article;
}

export async function getStaticPaths() {
  const posts = await getCollection("articles");
  return posts.map((p: Article) => ({
    params: { slug: p.data.slug },
    props: { post: p },
  }));
}

const { post } = Astro.props;
const { title, publishDate } = post.data;
const { Content } = await render(post);
---

<Base title={title} activePage="Articles">
  <div slot="mainContent">
    <div class="subNav">
      <p>{dateDisplay(publishDate)}</p>
      <a href="/articles"> All Articles</a>
    </div>
    <div class="scopedContent">
      <article>
        <Content />
      </article>
    </div>
  </div>
</Base>
<style>
  .subNav {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    gap: 50px;
    width: 100%;
    align-items: center;
    a {
      justify-self: flex-end;
    }
  }
</style>
