<!--?xml version="1.0" encoding="UTF-8" standalone="no" ?--><!DOCTYPE html>
<div class="">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    width="50"
    height="50"
    viewBox="0 0 500 500"
    xml:space="preserve"
  >
    <desc>Created with Fabric.js 5.3.0</desc>
    <defs> </defs>

    <g
      transform="matrix(1.9441287159 0 0 1.4205327736 219.6164815855 251.8485325587)"
      id="gXsaGykzyZPltLDhXIOiY"
    >
      <path
        style="stroke: rgb(9,31,48); stroke-width: 2; stroke-dasharray: none; stroke-linecap: butt; stroke-dashoffset: 0; stroke-linejoin: miter; stroke-miterlimit: 4; fill: rgb(212,178,87); fill-rule: nonzero; opacity: 1;"
        vector-effect="non-scaling-stroke"
        transform=" translate(0, 0)"
        d="M 19.99791 -0.02564 L 39.97291 39.92436 L 39.97291 39.92436 C 39.9778 39.93414 39.97833 39.94683 39.974289999999996 39.95731 C 39.97024999999999 39.96779 39.9623 39.97436 39.95363999999999 39.97436 L -0.002090000000009695 39.97436 L -39.94899000000001 39.97436 L -39.94899000000001 39.97436 C -39.95938000000001 39.97436 -39.96891000000001 39.96649 -39.973760000000006 39.95391 C -39.97861 39.94133 -39.977970000000006 39.92612 -39.972100000000005 39.91439 L -20.002090000000006 -0.02564000000000277 L -0.04221000000000785 -39.9454 L -0.04221000000000785 -39.9454 C -0.033150000000007854 -39.96352 -0.01814000000000785 -39.97436 -0.0020900000000078495 -39.97436 C 0.013959999999992149 -39.97436 0.02896999999999215 -39.963519999999995 0.03802999999999215 -39.9454 z"
        stroke-linecap="round"></path>
    </g>
  </svg>
</div>
<style></style>
