			<nav class="fixed right-1">
				<ul class="uppercase text-accent font-thin text-xl text-right m-4">
					<li><a href="#projects">projects</a></li>
					<li><a href="#experences">experences</a></li>
					<li><a href="#about">about</a></li>
					<li><a href="#other">other</a></li>
				</ul>
			</nav>