---
const {
  varient = "base",
  sectionMarginTop,
  Cssvars = {},
  class: className,
  ...rest
} = Astro.props;

const sectionWidth = varient === "full" ? "100vw" : "";

const isBase = varient === "base" || !varient || false;
const hasNoBackground = varient === "noBackground";
---

<section
  class:list={[
    className,
    { noBackground: hasNoBackground },
    { whiteContainer: isBase },
  ]}
  {...rest}
>
  <slot />
</section>
<style define:vars={Cssvars}>
  section {
    max-width: 1450px;
    margin: var(--sectionMarginControl, 0px);
  }
  .whiteContainer {
    background-color: var(--main_white);
  }
  .styledBackground {
    background: url("./svgs/logo_background-repeat.png") repeat;
  }
  .noBackground {
    background-color: none;
  }
</style>
