---
const { class: className, ...rest } = Astro.props;
---

<section
  class:list={["flex flex-col px-2 md:px-20 mb-20", className]}
  {...rest}
>
  <slot />
</section>
<style>
  section {
    max-width: 1024px;
    margin-top: var(--section-margin-top, 80px);
  }
</style>
