---
const {
  varient = "base",
  sectionMarginTop,
  class: className,
  ...rest
} = Astro.props;

const sectionWidth = varient === "full" ? "100vw" : "";

const isBase = varient === "base" || !varient || false;
const hasNoBackground = varient === "noBackground";
---

<section
  class:list={[
    className,
    { noBackground: hasNoBackground },
    { whiteContainer: isBase },
  ]}
  {...rest}
>
  <slot />
</section>
<style>
  section {
    max-width: 1450px;
  }
  .whiteContainer {
    background-color: var(--main_white);
  }
  .noBackground {
    background-color: none;
  }
</style>
