---
const temp =`
                    I was coding with before I knew I was coding (kinda). I was setting up models and it was quicker to 
                    open the text file write up some text to help create the analysis. I went full full coding when I found 
                    Python and the book <a class="inlineLink" href="">"Automate the Boring Stuff with Python"</a>
                    After that I started to look more in to web development and building web apps and site with React.js
                    `
---


