---
import { PostIntro, Text, Heading } from "@components/lib_comps";
import { filterCollectionsBy } from "@utils/post_collections/";

const latestPost = await filterCollectionsBy("most_recent");
const currentYear = await filterCollectionsBy("current_year");
---

<div>
  <h1>BLOG</h1>
  <Heading>
    <Text tag="h2">Latest Post</Text>
  </Heading>
  <PostIntro postFrontMatter={latestPost} />

  <Heading>
    <Text tag="h2">2023 Post</Text>
  </Heading>
  {currentYear.map((x) => <PostIntro postFrontMatter={x} />)}

  Link to previous years,
</div>
