---
import { getCollection } from "astro:content";
import { ProfessionalWorkExperience } from "@components/sections";
import { Text, Heading, BentoBox ,Logo} from "@components/lib_comps/index";
import { PageLayout } from "@layouts/index";

const allJobs = await getCollection("positions");
---

<PageLayout pageId="career">
<div class="pt-40 text-center  ">
  <BentoBox class="page_header">
    <Logo 
    color="var(--main_gold)"
    />
  <Text tag="h2">Career</Text>
</BentoBox>
</div>

  <div class="career_box">
    {
      allJobs.map((x) => (
        <ProfessionalWorkExperience providedCareerPositions={x} />
      ))
    }
  </div>
</PageLayout>
<style>
  .career_box {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 70px;
  }
  .page_header{
    display: flex;
    flex-direction: row;
    justify-content: start;
    h2{
      margin-left: 25%;
      text-transform: capitalize;
    }
  }
</style>
