---
import { getCollection } from "astro:content";
import { ProfessionalWorkExperience } from "@components/sections";
import { Text, Heading } from "@components/lib_comps/index";
import { PageLayout } from "@layouts/index";

const allJobs = await getCollection("positions");
---

<PageLayout pageId="career">
  <Heading>
    <Text tag="h2">Career</Text>
  </Heading>
  <div class="career_box">
    {
      allJobs.map((x) => (
        <ProfessionalWorkExperience providedCareerPositions={x} />
      ))
    }
  </div>
</PageLayout>
<style>
  .career_box {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 70px;
  }
</style>
