---
import { getCollection } from "astro:content";
import { DateIt, InternalLink } from "@components/blocks";
import { Text, Box, LinkBreak } from "@components/lib_comps/index";

const allJobs = await getCollection("positions");
import { PageLayout } from "@layouts/index";
---

<PageLayout pageId="career">
  {allJobs.map((x) => <p>{x.data.jobTitle}</p>)}
  {JSON.stringify(allJobs)}
</PageLayout>
