---
import { getCollection } from "astro:content";
import { PageLayout } from "@layouts/index";

import { Text, Box } from "@components/lib_comps";

const accomplishedDates = await getCollection("accomplishDates");

const dateSorts = new Map();
const yearRange = new Set();

const collectCollection = accomplishedDates.map((entry) => {
  const collectionKey = entry.data.type;
  const colectionEntry = entry.body.split(/\r?\n/).filter((x) => x !== "");
  return { [collectionKey]: colectionEntry };
});

for (var entry of collectCollection) {
  const collectionKey = Object.keys(entry);
  const collectionEntry = Object.values(entry).flat();

  for (const entry of collectionEntry) {
    const rg = /\(([^)]+)\)\s*(.+)$/;
    const matchItem = entry.match(rg);
    const dateKey = matchItem?.[1] || "00";
    const dataContent = matchItem?.[2] || "";

    yearRange.add(dateKey);

    if (dateSorts.has(dateKey)) {
      const dateKeyValue = dateSorts.get(dateKey);
      dateSorts.set(dateKey, [
        ...dateKeyValue,
        { entries: dataContent, type: collectionKey?.[0] },
      ]);
      continue;
    }
    dateSorts.set(dateKey, [
      { entries: dataContent, type: collectionKey?.[0] },
    ]);
    continue;
  }
}
const sortedDateRange = [...yearRange].sort((a: number, b: number) => b - a);

const colorThemes = {
  developer: "rgb(89, 46, 131)",
  automotive: "rgb(22, 81, 126)",
  personal: "rgb(191, 144, 43)",
};
---

<PageLayout pageId="dates">
  <Text tag="h1">Professional / Personal<br /> accomplishments</Text>
  <div>
    <Text tag="p">automotive</Text>
    <Text tag="p">personal</Text>
    <Text tag="p">developer</Text>
  </div>
  <div class="accomplishment_list">
    <Box varient="dark" class="container_dates">
      <ul>
        {
          sortedDateRange.map((year) => {
            return dateSorts.get(year).map((contentItems) => (
              <li class:list={[contentItems.type, "base"]}>
                <h3 class="year">{year}</h3>
                <p set:html={contentItems.entries} />
              </li>
            ));
          })
        }
      </ul>
    </Box>
  </div>
</PageLayout>
<style>
  .accomplishment_list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .container_dates {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  ul {
    display: flex;
    background-color: var(--main_black);
    flex-direction: column;
    width: 50%;
    color: var(--main_white);
  }
  li {
    /* background-color: rgba(255, 255, 255, 0.479); */
  }

  .base {
    border-radius: 5px;
    margin: 5px;
    display: flex;
    gap: 10px;
    padding: 10px;
  }
  .developer {
    background: rgba(89, 46, 131, 0.377);
  }

  .personal {
    background: rgba(191, 144, 43, 0.411);
  }
  .automotive {
    background: rgba(22, 81, 126, 0.274);
  }
</style>
