---
// Custom Components
import PageLayout from '../layouts/PageLayout'
import CareerHistory from '../components/jobHistory/CareerHistory.astro'
import Accomplishments from "../components/jobHistory/Accomplishments.astro"

//Infomation Input
import jobHistory from "../utils/data/jobHistory.json"
import accomplishments from '../utils/data/accomplishments.json';


// Deconstruct Json Data
const {AutomotiveEngineering} = jobHistory
const {feats} = accomplishments
---
<PageLayout>
        <div class="workHistory_layout">
        <section>
            <div class="workSection">
                <h3 class="workSection__header">React Engineering</h3>
                <p>Freelancing 2021</p>
            </div>
            <div class="workSection">
                <h3 class="workSection__header">Automotive Engineering</h3>
                <p class="workSection__context">Started in 2005 in automotive engineering research and 
                development. Team communication, grit to accomplish tough deadlines 
                and achieve difficult performance targets are among the most valuable 
                assets I have developed. Above all, it is important to me to continually
                learn from peers and to help others succeed in their careers.
                </p>
                <CareerHistory AutomotiveEngineering={AutomotiveEngineering}/>
            </div>
        </section>
        <Accomplishments feats={feats}/>
        </div>
</PageLayout>

<style>
    h3{
        font-size:2.5rem;
        font-weight: 800;
        padding:0;
    }
    p{
        line-height: 1.5;
    }
    .workHistory_layout{
        display: grid;
        grid-template-columns: 1fr 350px;
        padding:20px;
    }

    .workSection__header{
        text-align: center;
    }
    .workSection__context{

    }
    .workSection{
        max-width: 768px;
        margin: 25px 0;
    }

    @media (max-width: 630px) { 
    .workHistory_layout{
        display: flex;
        flex-flow: column-reverse;
    }


     }


</style>