---
import "../styles/global.css";

// Component Imports
import Main from "@layouts/html/Main.astro";

import {
  ProfessionalWorkExperience,
  PersonalBio,
  HeroHome,
  LatestPost,
} from "@components/sections/";
---

<Main pageId="home">
  <HeroHome />
  <PersonalBio />
  <LatestPost />
  <ProfessionalWorkExperience
    currentPostion={true}
    sectionTitle="Current Position"
  />
  <!-- <SectionContainer>
    <h2>Personal Project</h2>
  </SectionContainer> -->
</Main>

<style>
  #mainBody {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    max-width: 1024px;
  }
</style>
