---
// Component Imports
import MainHead from "../components/MainHead.astro"
import SectionTitleDecor from "../components/SectionTitleDecor.astro"
import SectionContainer from '../components/SectionContainer.astro'
import HeaderPage from '../components/HeaderPage.astro'
import SocialLink from '../components/blocks/SocialLink.jsx';


import Projects from "../components/sections/Projects.astro"
import Experences from "../components/sections/Experences.astro"

let title = 'Matterholt Made';
let description = "Personal site where discuss and show what I build for the web";
// let canonicalURL = Astro.request.canonicalURL;
---




<html lang="en">
	<head>
		<!-- <MainHead {title} {description} /> -->
		<style global>
			@import "../styles/global.css";
		</style>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
	</head>

	<body class="bg-zinc-50 text-myDark">
	<HeaderPage/>
	<main>
		<Projects/>
		<Experences/>
	</main>
	

	<footer>
		<SocialLink/>
	</footer>

	</body>
</html>
