---
import "../styles/global.css";

// Component Imports
import Main from "@layouts/html/Main.astro";
import SectionContainer from "@layouts/SectionContainer.astro";

import HeaderPage from "@layouts/HeaderPage.astro";
import Experences from "@layouts/sections/Experences.astro";
import Bio from "@layouts/sections/Bio.astro";
---

<Main pageId="home">
  <HeaderPage />
  <Bio />
  <SectionContainer>
    <h2>Latest Post</h2>
  </SectionContainer>
  <Experences currentPostion={true} sectionTitle="current position" />
  <SectionContainer>
    <h2>Personal Project</h2>
  </SectionContainer>
</Main>

<style>
  #mainBody {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    max-width: 1024px;
  }
</style>
