---
import "../styles/global.css";

// Component Imports
import MainHead from "../layouts/MainHead.astro";
import HeaderPage from "../layouts/HeaderPage.astro";
import SocialLink from "../components/blocks/SocialLink.jsx";
import Experences from "../layouts/sections/Experences.astro";
import NavigationBar from "../layouts/NavigationBar.astro";
---

<MainHead>
  <body id="mainBody" class="bg-zinc-50 text-myDark">
    <HeaderPage>
      <NavigationBar />
    </HeaderPage>

    <main>
      <Experences currentPostion={true} />

      <ul>
        <li>header</li>
        <li>current job</li>
        <li>latest blog post</li>
        <li>latest project</li>
      </ul>
    </main>
  </body>
</MainHead>

<footer>
  <SocialLink />
  <div class="m-2 text-xs text-right">
    <p class="m-2 text-xs font-thin text-myDark">
      ​All Rights Reserved |Website & Hosting by Matterholt made
    </p>
  </div>
</footer>

<style>
  #mainBody {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    max-width: 1024px;
  }
</style>
