---
import "../styles/global.css";

// Component Imports
import MainHead from "../layouts/MainHead.astro";
import HeaderPage from "../components/HeaderPage.astro";
import SocialLink from "../components/blocks/SocialLink.jsx";
---

<MainHead>
  <body id="mainBody" class="bg-zinc-50 text-myDark">
    <HeaderPage />
    <main>
      <ul>
        keep on main
        <li>header</li>
        <li>current job <a href="/career">Career</a></li>
        <li>latest blog post <a href="/blog">Blog</a></li>
        <li>latest project <a href="/projects">Projects</a></li>
      </ul>
    </main>
  </body>
</MainHead>

<footer>
  <SocialLink />
  <div class="m-2 text-xs text-right">
    <p class="m-2 text-xs font-thin text-myDark">
      ​All Rights Reserved |Website & Hosting by Matterholt made
    </p>
  </div>
</footer>

<style>
  #mainBody {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main {
    max-width: 1024px;
  }
</style>
