---
import PageLayout from '../layouts/PageLayout'
import CareerHistory from "../components/JobHistory/CareerHistory.astro"
---
<PageLayout>
    <h2>Automotive Engineering</h2>
    <p>
        15+ years experience in automotive engineering research and development.
        Team communication, grit to accomplish tough deadlines and achieve difficult
        performance targets are among the most valuable assets I have developed.
        Above all, it is important to me to continually learn from peers and to help 
        others succeed in their careers.
    </p>


    <div class="workingHistory_container">
        <CareerHistory />
    </div>
</PageLayout>

<style>
.workingHistory_container{
    background-color: white;
    padding: 20px;
}
.work__date{
    font-style: italic;
}


</style>
