---
import Main from "@layouts/page_layout/PageLayout.astro";
import { PostIntro, Text, Heading } from "@components/lib_comps/";
import { filterCollectionsBy } from "@utils/post_collections/";

const currentYear = await filterCollectionsBy("current_year");
---

<Main pageId="writeups">
  <Heading>
    <Text tag="h2">2023 Post</Text>
  </Heading>
  {currentYear.map((x) => <PostIntro postFrontMatter={x} />)}
</Main>

<style>
  .blog_sections {
    margin-bottom: 100px;
  }
  .section_header {
    font-weight: 700;
    font-size: 30px;
    margin: 50px 0px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
  }

  .list_container {
    margin-bottom: 50px;
  }
  .list {
    margin: 25px 0px;
  }
</style>
<script></script>
