---
import { PageLayout } from "@layouts/index";
import { PostIntro, Text, BentoBox, Logo } from "@components/lib_comps/";
import { filterCollectionsBy } from "@utils/helpers/post_collections/";


const [currentYear, OtherYears] = await filterCollectionsBy("current_year");
---
<PageLayout pageId="write ups">
  <div class="pt-40  pb-20 text-center  ">
    <BentoBox class="page_header"
    varient="light">
      <Logo 
      color="var(--main_gold)"
      />
    <Text tag="h2">latest Posts</Text>
  </BentoBox>
  </div>
  {currentYear.map((x) => <PostIntro postFrontMatter={x} />)}
  <Text tag="h2">Previous Years</Text>
  {OtherYears.map((x) => <PostIntro varient="simple" postFrontMatter={x} />)}
</PageLayout>

<style>
  .blog_sections {
    margin-bottom: 100px;
  }
  .page_header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    h2{
      margin-left: 25%;
      text-transform: capitalize;
    }
  }
  .section_header {
    font-weight: 700;
    font-size: 30px;
    margin: 50px 0px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
  }

  .list_container {
    margin-bottom: 50px;
  }
  .list {
    margin: 25px 0px;
  }
</style>
