---
import { Box, Text, Logo, BGImageBase } from "@components/lib_comps";
import { NavBar } from "@components/blocks";
---

<Box class="hero_custom_container" varient="light">
  <div class="hero_main">
    <div class="logo_float">
      <Logo size="100%" />
    </div>
    <div class="text_container">
      <Text tag="h2" class="hero_text-main">
        Full Stack developer,<br />
        Over-all Generalist,
        <br /> Husband of 1,
        <br /> Father of 6
      </Text>

      <div class="hero_text">
        <Text tag="p">
          I have had the experience to lead and release multiple projects in
          automotive. I coordinate with multiple groups and teams to accomplish
          tasks for the success of the project. Always interested in improving
          my coding skills and lending hands to others. I want to keep moving
          forward and making things better than the way I found it.
        </Text>
      </div>
    </div>
  </div>
</Box>
<style>
  .text_container {
    --ptag_fontSize: 1.4em;
    --ptag_line-height: 2.5;
    width: 100%;
  }
  header {
    min-height: 400px;
  }

  .hero_custom_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero_main {
    text-align: right;
    display: flex;
    justify-content: center;
    overflow: hidden;
     width: 100vw;

  }
  .hero_text-main {
    line-height: 1.5;
  }
  .logo_float{
    width: 80vw;
  }

  @media (max-width: 640px) { 
    .hero_main {
    display: flex;
    flex-direction: column;

    }
    .text_container {
    --ptag_fontSize: 1.3em;
    --ptag_line-height: 1.4;
  }
  .hero_text-main {
    line-height: 1.2;
  }
  }

</style>
