---
import { Text, Logo, BGImageBase } from "@components/lib_comps";
import { NavBar } from "@components/blocks";
---

<header class="hero_home">
  <NavBar />

  <img class="hero_img" src="/images/hero/profile2_me2_b&w.png" />
  <Logo />

  <div class="hero_subtitle">
    <Text tag="h2">
      Front end developer, Over-all Generalist, a bit of Designer Husband,
      Father and few other things
    </Text>
  </div>
  <div class="hero_text">
    <Text tag="p">
      I'm all about diving into the latest in web technologies and soaking up
      new knowledge. Day-to-day, I'm knee-deep in Vue.js and Node.js, but when
      it comes to personal projects, I've got a soft spot for
      Svelte.js/SvelteKit and Astro.build, especially for static sites. Lately,
      I've been exploring Tauri, a native web-based framework, which is nudging
      me to pick up Rust Lang. What really gets me going is tackling challenges
      within my team and finding ways to use code and programming to make
      everyone's tasks a bit smoother and more efficient needs.
    </Text>
  </div>
</header>
<style>
  header {
    background-color: white;
  }
  .hero_home {
    max-width: 1080px;
    min-height: 880px;
    display: flow-root;
  }
  .hero_subtitle {
    margin-top: 8%;
  }
  .hero_text {
    padding: 15% 0;
  }
  .hero_img {
    float: right;
    shape-outside: url("/images/hero/profile2_me2_b&w.png");
  }
</style>
