:root {
  --main-white: #DAD2D8;
  --main-black: #09171c;
  --fav-dark: #06384d;
  --fav-accent: #dcb122;
  font-size: 62.5%;
}

body {
  background-color: var(--main-black);
}


a {
  color: inherit;
  text-decoration: none;
}




@media screen and (min-width: 576px) {
  .blog_date {
    width: 150px;
  }

  .content_header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  article {
    border-radius: 5px;
  }
}

.tag_box {
  display: flex;
  flex-wrap: wrap;
  align-content: start;
  margin-top: 15px;
}

.tag {
  background-color: var(--fav-dark);
  color: var(--main-white);
  width: max-content;
  height: max-content;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  margin: 2px;
}