---
import Logo from "../Logo.astro";
import Text from "../text/Text.astro";
interface Props {
  listItems: string[];
  class?: string;
}

const { listItems, class: className, ...rest } = Astro.props;
---

<ul class={className} {...rest}>
  {
    listItems.map((item) => (
      <li>
        <Text tag="p">{item}</Text>
      </li>
    ))
  }
</ul>

<style>
  ul {
    font-size: 1.2em;
    padding: 0px;
    margin: 0px;
  }
  li {
    list-style-type: none;
    /* list-style-image: url("logo_background-single.png"); */
    margin: 20px 0px;
    line-height: 1.7;
  }
  li::before {
    content: "";
  }
</style>
