---
import Text from "../text/Text.astro";
interface Props {
  listItems: string[];
  class?: string;
}

const { listItems, class: className, ...rest } = Astro.props;

const formatClass = (title) => title.split(" ").join("_").toLowerCase();
---

<ul class:list={[className, "commonlist"]} {...rest}>
  {
    listItems.map((item) => (
      <li class={formatClass(item)}>
        <Text tag="p">{item}</Text>
          <slot/>
      </li>
    ))
  }
</ul>

<style is:global>
  .scopedContent ul,
  ul.commonlist {
    font-size: 1.2em;
    padding: 5px;
    margin: 5px;
    list-style-type: var(--globalList_listStypeType, none);
  }
  .scopedContent ul,
  li.commonlist {
    line-height: 1.7;
    margin-bottom: 15px;
  }
  li {
    margin-bottom: 15px;
  }
</style>
