---
import Logo from "../Logo.astro";
import Text from "../text/Text.astro";
interface Props {
  listItems: string[];
  class?: string;
}

const { listItems, class: className, ...rest } = Astro.props;

const formatClass = () => {};
---

<ul class:list={[className, "commonlist"]} {...rest}>
  {
    listItems.map((item) => (
      <li class={item}>
        <Text tag="p">{item}</Text>
      </li>
    ))
  }
</ul>

<style is:global>
  .scopedContent ul,
  ul.commonlist {
    font-size: 1.2em;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
  }
  .scopedContent ul,
  li.commonlist {
    line-height: 1.7;
  }
</style>
