---

---
	
	<header class="grid place-items-center min-h-screen overflow-hidden">	
		
			<div class="flex justify-between my-10 p-12">
				<div class="flex flex-col justify-center">
				<h1 class="text-6xl uppercase bold mb-10">Matterholt Made </h1>

					<div class="font-light my-10">
						<p>Matthew Atterholt, Husband , Father , Mech.Engineer, Front-End Developer</p> 
						<p> Use modern technolgoies to get you ideas digital and Primarly focused Front end developement but won't shy away from a challenge</p>
					</div>
					
					<ul class="text-sm font-thin my-10 h-36">
						<li>Building web apps with Next.js and React.js</li>
						<li>JAMStack websites with Astro.js</li>
						<li>React Native to accomplish mobile apps</li>
					</ul>
				</div>
				
		 		<img src="./ProfileMatterholt.PNG" height="550" width="550"/>


			</div>

	
	</header>