	<header class="grid place-items-center min-h-screen bg-myDark text-slate-200">	


		<div class="w-9/12">
		
			<div class=" m-10 p-4 text-center">
			<h1 class="text-5xl uppercase bold">Matterholt Made Matthew Atterholt,Mech.Engineer, Front-End Developer</h1>
			<p class="text-sm">Use modern technolgoies to get you ideas digital</p> 

	</div>
	<div class="">
				<p>Primarly focused Front end developement but won't shy away from a challenge</p>
				<p>Building web apps with Next.js and React.js</p>
				<p>JAMStack websites with Astro.js</p>
				<p>React Native to accomplish mobile apps</p>
			</div>
			
		</div>
	</header>