---

---
	
	<header class="grid place-items-center min-h-screen overflow-hidden">	
		
			<div class="flex justify-between p-12">
				<div class="flex flex-col justify-center">
				<h1 class="text-6xl uppercase bold mb-10 customFont-Anton tracking-wider">Matterholt <br/> Made </h1>

					<div class="font-light my-10">
						<p class="mb-4"><span class="font-bold text-lg">Matthew Atterholt</span>, Husband, Father, Mech.Engineer</p> 
						<p class="mb-4"> <span class="font-bold text-lg">Front-End Developer</span> that uses modern technolgoies to get your ideas digital.</p>
					</div>
					
					<ul class=" font-thin my-10 h-36">
						<li>Building web apps with Next.js and React.js</li>
						<li>JAMStack websites with Astro.js</li>
						<li>React Native to accomplish mobile apps</li>
						<li>Primarly focused Front end developement but won't shy away from a challenge</li>
					</ul>
				</div>
				
		 		<img src="./images/ProfileMatterholt.PNG" height="550" width="550"/>


			</div>

	
	</header>