	<header class="grid place-items-center min-h-screen bg-myDark text-slate-200">	


		<div class="w-9/12">
		
			<div class=" m-10 p-4 text-center">
				<h1 class="text-6xl uppercase bold">Matterholt Made </h1>
				<div class="font-light m-10">
					<p>Matthew Atterholt, Mech.Engineer, Front-End Developer</p> 
					<p> Use modern technolgoies to get you ideas digital and Primarly focused Front end developement but won't shy away from a challenge</p>
				</div>
				
				<ul class="text-sm font-thin">
					<li>Building web apps with Next.js and React.js</li>
					<li>JAMStack websites with Astro.js</li>
					<li>React Native to accomplish mobile apps</li>
				</ul>
			</div>

			
		</div>
	</header>