	<header class="grid place-items-center min-h-screen bg-myDark text-slate-200">	
			<nav class="fixed right-1">
				<ul class="uppercase text-accent font-thin text-xl text-right">
					<li><a href="#projects">projects</a></li>
					<li><a href="#experences">experences</a></li>
					<li><a href="#about">about</a></li>
					<li><a href="#other">other</a></li>
				</ul>
			</nav>

		<div class="w-9/12">
			<h1 class="text-5xl uppercase bold m-10 flex">Matterholt made</h1>
			<p> Build products for the web,React.js React.js Native, Astro.js JAMStack</p>
			
		</div>
	</header>