---
---

<header class="grid place-items-center min-h-screen overflow-hidden">
  <div class="flex justify-between p-12">
    <div class="flex flex-col justify-center">
      <h1 class="text-6xl uppercase bold mb-10 customFont-Anton tracking-wider">
        Matterholt <br /> Made
      </h1>

      <div class="font-light my-10">
        <p class="mb-4">
          <span class="font-bold text-lg">Matthew Atterholt</span>, Husband,
          Father, Mech.Engineer
        </p>
        <p class="mb-4">
          <span class="font-bold text-lg">Application Developer</span>
          <p>
            A decade worth of experience in engineering building and performing
            analysis, Started learning and working web technoliogies since 2017
            and A year of professional development on building applications. My
            current position, I have worked extensively with front-end
            technologies to build software for the browser where I resolved
            issues found in the code base and implemented new features for
            clients. Every JIRA ticket that I took on, I made a point to
            collaborate with other teams to complete tasks and communicate with
            team members to ensure that the code performed as desired and
            targets were achieved for the client.
          </p>
        </p>
        <h3 class="text-2xl uppercase bold customFont-Anton tracking-wider">
          Interest
        </h3>

        <ul class="h-36">
          <li>Staying current with React.js</li>
          <li>Building personal sites with Astro.js</li>
          <li>Like DENO for a runtime</li>
          <li>Interested in getting a better understanding of the RUST lang</li>
          <li>
            Primarly focused Front end developement but won't shy away from a
            challenge
          </li>
        </ul>
      </div>

      <img src="./images/ProfileMatterholt.PNG" height="550" width="550" />
    </div>
  </div>
  <style>
    li {
      margin-top: 8px;
    }
  </style>
</header>
