	<header class="grid place-items-center min-h-screen bg-myDark text-slate-200">	
			<nav class="fixed right-1">
				<ul class="uppercase text-accent font-thin text-xl text-right m-4">
					<li><a href="#projects">projects</a></li>
					<li><a href="#experences">experences</a></li>
					<li><a href="#about">about</a></li>
					<li><a href="#other">other</a></li>
				</ul>
			</nav>

		<div class="w-9/12">
		
			<div class=" m-10 p-4 text-center">
			<h1 class="text-5xl uppercase bold">Matterholt Made</h1>
			<p>Use modern technolgoies to get you ideas digital</p>


				<p>Primarly focused Front end developement </p>
				<p> building web apps with Next.js and React.js</p>
				<p>JAMStack websites with Astro.js</p>
				<p>React Native to accomplish mobile apps</p>
			</div>
			
		</div>
	</header>