---

import SocialLink from "../components/SocialLink.jsx"
---


    <section class="landingsection" >
      <div class="landing_card">
        <div class="landing_title">
          <h3>FullStack Engineer</h3>
          <p class="subtitle">My name is Matthew Atterholt and I build digital products that help enhance and improve the world. 
          I have specialized in React, React Native and Node and some Python</p>
        </div>
        <div class="subcontent">
          <p>
           At the ready to help and eager to learn from others. My goal is to keep my
            code clean and maintainable. I strive to build a product that solves
            the client’s goals and contributes to the overall success of the
            product.
            </p>
        </div>
      </div>
    </section>


<style>
h3{
  font-size: 4rem;
  margin:0;
}
.landing_title{
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
margin-bottom: 5rem;
}
.subtitle{
  font-size:1.5rem;
  width:52%;
}
.subcontent{
  color:#396071;
  font-size: 1.5rem;
  text-align: center;
  width:40%;
}
.landingsection{
    font-family: Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    font-size: 2rem;
}
.landing_card {
  line-height: 1.6;
  color: var(--fav-dark);
  background-color: var(--main-white);
  width: 75%;
  padding: 50px;
  border-radius: 10px;
  display: grid;
  place-items: center;
}


</style>