---
const Routes = [    
    {
    id: 100,
    pageName: "home",
    path: "/",
},
    {
    id: 200,
    pageName: "experiance",
    path: "/experiance",
},
]
  const {navPage} = Astro.props


---
<nav>
{Routes.map(route =>
        <a class="navLink" href={route.path}>{route.pageName == navPage ? "match--"  : "not--"}{route.pageName}</a>
 )}</nav>

<style>
nav{
    padding: 10px;
     width: 50vw;
    display: flex;
    justify-content: end;
}
.navLink{
    margin: 10px;
    padding:10px;
    text-transform: uppercase;
    border-bottom: solid 2px #ffffff00;
}
.navLink:hover{
    border-bottom: solid 2px var(--fav-accent);
}
.__current{
    background: blue;
}

</style>