---
const Routes = [
        {
    id: 100,
    pageName: "home",
    path: "/",
},
    {
    id: 200,
    pageName: "experiance",
    path: "/experiance",
},
]

---
        <nav>

{Routes.map(route =>

        <a href={route.path}>{route.pageName}</a>

 )}

        </nav>

<style>
nav{
    display:flex;
    padding: 10px;
}
a{
    margin: 10px 20px;
    padding:10px;
    text-transform: uppercase;
    border-radius: 5px;
}
a:hover{
    background-color: var(--fav-accent);
    color:var(--main-white);
}
 a:focus{
    background-color: var(--fav-accent);
    color:var(--main-white);
}
a:active{
    background-color: var(--fav-accent);
    color:var(--main-white);
}

</style>