<SubTitle content="Interest" />
<ul>
  <li>
    Primarly focused Front end developement but won't shy away from a challenge
  </li>

  <li>Staying current with React.js, exploring other frameworks</li>
  <li>Building personal sites with Astro.js</li>
  <li>Favored JS runtime is DENO.</li>
  <li>Interested in getting a better understanding of the RUST lang</li>
</ul>
