---
---

<div class="Stackbliz">
  <a
    class="p-4 font-bold uppercase w-40 bg-blue-800 text-center rounded-md m-2 text-zinc-50"
    class="underline font-extrabold"
    href="https://stackblitz.com/@matterholt">StackBlitz</a
  >
  <p>My favorite and quickest way to boot up a project is through</p>

  <p>Feel free to check out some of my work.</p>
</div>
<style scoped>
  .Stackbliz {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
</style>
