---
import SubTitle from "@components/blocks/SubTitle.astro";

import SectionContainer from "../SectionContainer.astro";
---

<SectionContainer parentColor="bgLight">
  <div class="flex flex-wrap w-full">
    <div class="font-light my-10">
      <p class="mb-4">
        <span class="font-bold text-lg">Matthew Atterholt</span><br />
        Husband, Father, Developer In Tech.
      </p>
      <p class="mb-4">
        <span class="font-bold text-lg">Application Developer</span>
        I spent the several years learning and practicing web technologies, primaryly
        focused on Front end. I spent some time using Python to build scripts for
        a engineering group. I have a years worth of experience multiple large scale
        application. My decadades worth of experiance automotive engineering help
        me develop the soft skill to work on demanding projects, working across team
        achieve client's requirements and expection.
      </p>
      <p class="mb-4">
        My first year of application development, I was placed on a project that
        was very demanding and placed me in sink or swim situation. My years of
        working in automotive engineering was not an issue. I did my best to
        learn the app and understand the inner workings and made it a point to <em
          >"leave it better then the way you found it"</em
        >. Every JIRA ticket, I was assigned, I made a point to collaborate with
        other teams to complete tasks and communicate with other team members. I
        want to make the app better so I picked up some ticket in the back log
        that would improve the code base. I communicated with the project
        manager to ensure that the code performed as desired that met targets
        were achieved for the client.
      </p>
      <SubTitle content="Interest" />
      <ul>
        <li>
          Primarly focused Front end developement but won't shy away from a
          challenge
        </li>

        <li>Staying current with React.js, exploring other frameworks</li>
        <li>Building personal sites with Astro.js</li>
        <li>Favored JS runtime is DENO.</li>
        <li>Interested in getting a better understanding of the RUST lang</li>
      </ul>
    </div>
  </div>
</SectionContainer>
