---
// Component Imports
import SectionTitleDecor from "../SectionTitleDecor.astro"
import SectionContainer from '../SectionContainer.astro'
---
		<SectionContainer parentColor='bgLight'>
			<SectionTitleDecor title="projects" cssId="projects"/>
            <div class="mr-36">
			<h2 class="text-center my-10 text-6xl bold uppercase customFont-Anton ">Projects</h2>
			<ul class="flex">

				<div class="flex flex-col w-6/12 ">
					<li class="border border-[#d4b257] m-1 p-4 ">
						<h3 class="font-black text-2xl">React Native App</h3>
						<p class="py-4">
						<span class="font-semibold">Resposibilty:</span> 
							I was hired to develop an app that could convert images to a text list. This list would be compared to a masterlist 
						</p>
						<p class="py-4">
						<span class="font-semibold">Technologies:</span> 
							I used React Native, more specialy a boiler plate called <span class="italic">Ignite by Infinite Red</span>
							Using a boilerplate sped up the start up time and allowed me to learn other technologies and methods in writing code. 
							technologies such as <span class="italic">Native base</span>,<span class="italic">MST, Mobx State Tree</span> and google OCR API
						</p>

					</li>
												<li class="border border-[#d4b257] m-1 p-4 ">
								<h3 class="font-black text-2xl">Trivia Game</h3>
								<p><span class="font-semibold">Resposibilty:</span> 
									Challenge to build a small trivia game useing create react app
								</p>
								<p><span class="font-semibold">Technologies:</span> 
									REACT.js, TypeScript, moc servic worker, some react testing libarary
								</p>
							</li>




				</div>

				<div class="flex flex-col w-6/12 ">
									<li class="border border-[#d4b257] m-1 p-4 h-min  ">
						<h3 class="font-black text-2xl">JAM Stack business landing page</h3>
						<p><span class="font-semibold">Resposibilty:</span> 
							I was able to help a client launch their new business, which allow would allow them to update content when they wanted too.  
						</p>
						<p><span class="font-semibold">Technologies:</span> 
							astro.js, strapi.io, tailwinds
						</p>
					</li>


							<li class="border border-[#d4b257] m-1 p-4 ">
								<h3 class="font-black text-2xl">Python Scripting</h3>
								<p><span class="font-semibold">Resposibilty:</span> 
									I was tasked to create scripts to help extract results from an result file. Once extracted then the results would be calcuated
									and compiled then place into an excel report.
								</p>
								<p><span class="font-semibold">Technologies:</span> 
									Python, etc..
								</p>
							</li>
				</div>

			</ul>
            </div>
		</SectionContainer>
