---
import { getCollection } from "astro:content";

import Base from "../layouts/Base.astro";

const allArticles = await getCollection('articles');
 ---

<Base title="Articles" activePage="Articles">
  {allArticles.map(post => (
    <li><a href={`/blog/${post.id}`}>{post.data.title}</a></li>
  ))}


</Base>
