---
import Layout from '../layouts/Layout.astro';
import Logo from '../components/base/Logo.astro';
---

<Layout title="Welcome to Astro.">
	<main>
	</main>
 <div class="logo_float">
      <Logo size="20%" />
    </div>


    <h2  class="hero_text-main">
      Full Stack developer,<br />
      Over-all Generalist,
      <br /> Husband of 1,
      <br /> Father of 6
    </h2>
    <p >
      I have had the experience to lead and release dozens projects in
      automotive eningeering. Started my coding journey in 2016, with Python
      scripting which help automated engineering data extraction. From there
      I went to front end development and building app with modern JS
      framworks. In 2022, I worked professionally as an application
      developer maintaining an app with Vue, JSX and Typescript. I
      coordinate with multiple groups and teams to accomplish tasks for the
      success of the project. I make alway make time to learn new
      technologies and always interested in improving my coding skills and
      lending hands to others. I want to keep moving forward and making
      things better than the way I found it.
    </p>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

</style>
