---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/custom/Logo.astro";
import Text from "../components/base/text/Text.astro";
import List from "../components/base/list/List.astro";
import LinkTo from "../components/base/linkTo/LinkTo.astro";
import Footer from "../components/base/footer/Footer.astro";
import CurrentCareerPosition from "../components/custom/CurrentCareerPosition.astro";

const introBio = [
  "17 years of experience to lead and release dozens projects in automotive eningeering. Foundation of my professionalism and engineering best practices",
  "3 years and counting of software experiance of application developer maintaining an app with Vue, JSX and Typescript. Along with working on internal tools that use Vue2 composition api",
  "Currently I maintain a couple clients applications, where I coordinate with multiple groups and teams, throught slack and JIRA, to accomplish tasks for the success of the project.",
  "Enjoy coding in Python,  staying current with the ecosystem, exploring libraries, building backends Flask and FastAPI. Toying around micro python embeded systems. Tooling and other scripting task",
];
---

<Layout title="Matterholt" activePage="Home">
  <div class="indexHero">
    <Logo size={250} />

    <Text tag="h1" class="indexHeroText">
      Self taught Programmer<br />
      Specialized in Web Technologies
    </Text>

    <div class="indexHeroExternalLinks">
      <LinkTo path=""> Linkedin </LinkTo>
      <LinkTo path="https://github.com/matterholt">Github</LinkTo>
    </div>

    <div class="indexHeroSub">
      <Text tag="p">
        A decade as an automotive engineer turned developer. Driven to build
        purposeful projects that help the goals of the company. Experience
        gained in engineering translates well to coding, especially in
        collaborative, product-focused environments. Skilled in modern frontend
        development using Vue and React, with modern HTML/CSS practices.
        Comfortable with back-end tools like Hono.js and FastAPI, and enjoy
        working in the Python ecosystem for scripting, scraping, and general
        programming. A versatile contributor who adapts quickly across the
        stack. A bit of jack of all trades
      </Text>
    </div>
  </div>

  <hr />
  <div class="indexHeroWhoIAm">
    <Text tag="h2">Summary of what I do</Text>
    <List listItems={introBio} />
  </div>
  <hr />
  <div>
    <Text tag="h2">Current Position</Text>
    <CurrentCareerPosition />
    <div class="linkTo_box">
      <LinkTo path="/careers"> Past Positions </LinkTo>
    </div>
  </div>
  <Footer />
</Layout>
<style>
  .indexHero {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: max-content 1fr;
    justify-content: space-between;
    width: 90%;
    align-items: center;
  }
  .indexHeroText {
    grid-column: 2;
    grid-row: 1;
    --common_textAlign: center;
  }
  .indexHeroExternalLinks {
    grid-column: 3;
    grid-row: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
  .indexHeroSub {
    grid-row: 2;
    grid-column: 1 /4;
    place-self: center;
    text-align: center;
    width: 60%;
    min-width: 550px;
  }

  .linkTo_box {
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 790px) {
    .indexHero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
</style>
