---
// Component Imports
import MainHead from "../components/MainHead.astro"
import SectionTitle from "../components/SectionTitle.astro"
import SectionContainer from '../components/SectionContainer.astro'

let title = 'Matterholt Made';
let description = "Personal site where discuss and show what I build for the web";
let canonicalURL = Astro.request.canonicalURL;
---




<html lang="en">
	<head>
		<MainHead {title} {description} {canonicalURL} />
		<style global>
			@import "../styles/global.css";
		</style>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
	</head>

	<body class= "text-myDark ">

	<header class="grid place-items-center min-h-screen bg-myDark text-slate-200">	
			<nav class="fixed right-1">
				<ul class="uppercase text-accent font-thin text-xl text-right">
					<li><a href="#projects">projects</a></li>
					<li><a href="#experences">experences</a></li>
					<li><a href="#about">about</a></li>
					<li><a href="#other">other</a></li>
				</ul>
			</nav>

		<div class="w-9/12">
			<h1 class="text-5xl uppercase bold m-10 flex">Matterholt made</h1>
			<p> Build products for the web,React.js React.js Native, Astro.js JAMStack</p>
			
		</div>

	
	</header>
	<main>
		<SectionContainer parentColor='bgLight'>
			<SectionTitle title="projects" cssId="projects"/>
			<ul class=" w-9/12">
				<li>
					<h3 class="font-black text-2xl">React native project</h3>
					<p><span class="font-semibold">Resposibilty:</span> 
						I was hired to develop an app that could convert images to a text list. This list would be compared to a masterlist 
					</p>
					<p><span class="font-semibold">Technologies:</span> 
						I used React Native, more specialy a boiler plate called <span class="italic">Ignite by Infinite Red</span>
						Using a boilerplate sped up the start up time and allowed me to learn other technologies and methods in writing code. 
						technologies such as <span class="italic">Native base</span>,<span class="italic">MST, Mobx State Tree</span> and google OCR API
					</p>

				</li>
				<li>
					<h3 class="font-black text-2xl">JAM Stack business landing page</h3>
					<p><span class="font-semibold">Resposibilty:</span> 
						I was able to help a client launch their new business, which allow would allow them to update content when they wanted too.  
					</p>
					<p><span class="font-semibold">Technologies:</span> 
					 	astro.js, strapi.io, tailwinds
					</p>
				</li>
				<li>
					<h3 class="font-black text-2xl">Trivia Game</h3>
					<p><span class="font-semibold">Resposibilty:</span> 
						Challenge to build a small trivia game useing create react app
					</p>
					<p><span class="font-semibold">Technologies:</span> 
					 	REACT.js, TypeScript, moc servic worker, some react testing libarary
					</p>
				</li>
			</ul>
		</SectionContainer>

		<SectionContainer parentColor='bgDark'>
			<SectionTitle title="experences" cssId="experences"/>
		</SectionContainer>

		<SectionContainer parentColor='bgLight'>
			<SectionTitle title="about" cssId="about"/>
		</SectionContainer>

		<SectionContainer parentColor='bgDark'>
			<SectionTitle title="other" cssId="other"/>
		</SectionContainer>

	</main>
	



	</body>
</html>
