---
// Component Imports
import MainHead from "../components/MainHead.astro"
import SectionTitleDecor from "../components/SectionTitleDecor.astro"
import SectionContainer from '../components/SectionContainer.astro'
import HeaderPage from '../components/HeaderPage.astro'

let title = 'Matterholt Made';
let description = "Personal site where discuss and show what I build for the web";
let canonicalURL = Astro.request.canonicalURL;
---




<html lang="en">
	<head>
		<MainHead {title} {description} {canonicalURL} />
		<style global>
			@import "../styles/global.css";
		</style>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
	</head>

	<body class= "text-myDark ">
	<HeaderPage/>


	<main>
		<SectionContainer parentColor='bgLight'>
			<SectionTitleDecor title="projects" cssId="projects"/>
			<h2 class="  m-4 text-6xl bold uppercase customFont-Anton ">Projects</h2>
			<ul class="w-9/12">
				<li class="border">
					<h3 class="font-black text-2xl">React native project</h3>
					<p><span class="font-semibold">Resposibilty:</span> 
						I was hired to develop an app that could convert images to a text list. This list would be compared to a masterlist 
					</p>
					<p><span class="font-semibold">Technologies:</span> 
						I used React Native, more specialy a boiler plate called <span class="italic">Ignite by Infinite Red</span>
						Using a boilerplate sped up the start up time and allowed me to learn other technologies and methods in writing code. 
						technologies such as <span class="italic">Native base</span>,<span class="italic">MST, Mobx State Tree</span> and google OCR API
					</p>

				</li>
				<li>
					<h3 class="font-black text-2xl">JAM Stack business landing page</h3>
					<p><span class="font-semibold">Resposibilty:</span> 
						I was able to help a client launch their new business, which allow would allow them to update content when they wanted too.  
					</p>
					<p><span class="font-semibold">Technologies:</span> 
					 	astro.js, strapi.io, tailwinds
					</p>
				</li>
				<li>
					<h3 class="font-black text-2xl">Trivia Game</h3>
					<p><span class="font-semibold">Resposibilty:</span> 
						Challenge to build a small trivia game useing create react app
					</p>
					<p><span class="font-semibold">Technologies:</span> 
					 	REACT.js, TypeScript, moc servic worker, some react testing libarary
					</p>
				</li>
			</ul>
		</SectionContainer>

		<SectionContainer parentColor='bgDark'>
			<SectionTitleDecor title="experences" cssId="experences"/>
		</SectionContainer>

		<SectionContainer parentColor='bgLight'>
			<SectionTitleDecor title="about" cssId="about"/>
		
			<p>Building Meaningful Software as a React Developer. Open to learning new ways to write code. Understanding of how others think. Eager to help others.</p>
			
			<p>I build digital products that help enhance and improve the world. 
         I have ambition work the Full stack of web developement. Currently narrowed my focus and 
         specialized React and React Native developement. I find all aspects of programing interesting,
         specially if it can improve peoples daily task. I have dabble in  Node, 
         Python for automation and even visual basic to help with some excel. "</p>
		
		</SectionContainer>

		<SectionContainer parentColor='bgDark'>
			<SectionTitleDecor title="other" cssId="other"/>
		</SectionContainer>

	</main>
	



	</body>
</html>
