---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/custom/Logo.astro";
import Text from "../components/base/text/Text.astro";
import List from "../components/base/list/List.astro";
import LinkTo from "../components/base/linkTo/LinkTo.astro";

import CurrentCareerPosition from "../components/custom/CurrentCareerPosition.astro";

const introBio = [
  "17 years of experience to lead and release dozens projects in automotive eningeering. Foundation of my professionalism and engineering best practices",
  "3 years and counting of software experiance of application developer maintaining an app with Vue, JSX and Typescript. Along with working on internal tools that use Vue2 composition api",
  "Currently I maintain a couple clients applications, where I coordinate with multiple groups and teams, throught slack and JIRA, to accomplish tasks for the success of the project.",
  "Enjoy coding in Python,  staying current with the ecosystem, exploring libraries, building backends Flask and FastAPI. Toying around micro python embeded systems. Tooling and other scripting task",
];
---

<Layout title="Matterholt">
  <div class="indexHero">
    <Logo size="220px" fillColor="#323232;" />

    <Text tag="h2" class="indexHeroText">
      Full Stack Engineer<br />
      Over-all Generalist<br />
      Husband of 1<br />
      Father of 6
    </Text>
  </div>

  <div class="indexHeroWhoIAm">
    <Text tag="h2">Summary of what I do</Text>
    <List listItems={introBio} />
  </div>
  <div>
    <Text tag="h2">Current Position</Text>
    <CurrentCareerPosition />
    <LinkTo path="/careers"> Past Careers </LinkTo>
  </div>
</Layout>
<style>
  .indexHero {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  .indexHeroText {
    --common_textAlign: right;
  }
  @media screen and (max-width: 790px) {
    .indexHero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
</style>
