---
const { pageId } = Astro.props;
import activeNavigationPage from "@scripts/helpers_build/currentNav.js";
import { Alink } from "@components/lib_comps";

let navigationLinks = activeNavigationPage(pageId);
---

<div class="nav-container">
  <nav class="nav-position">
    {
      navigationLinks.map(({ id, link, title, activeClass }) => {
        return <Alink {id} {link} {title} {activeClass} />;
      })
    }
  </nav>
</div>

<style>
  .nav-container {
    margin-bottom: 55px;
    border-bottom: 5px solid var(--accent);
  }
  .nav-position {
    z-index: 100px;
    width: 100%;
  }
  nav {
    border-radius: 5px;
    padding: 15px;
    display: flex;
    height: 80px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fafafa;
  }
  a {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    border-radius: 5px;
    min-width: 95px;
    padding: 5px;
    text-align: center;
  }
  a:hover {
    background-color: var(--bg-primary-white);
    color: var(--bg-primary);
  }
  .current {
    background-color: var(--bg-primary);
    color: var(--bg-primary-white);
  }
  a::after {
    content: "/";
    color: var(--accent);
    padding-left: 5px;
  }

  .hamburger {
    display: none;
  }
</style>
