---
import { mainNavigation } from "@routes/mainNavigation";
const { currentPage } = Astro.props;
const filterOutActive = mainNavigation.filter((link) => link.isPublish);
---

<div class="nav_inflineFloat">
  <nav>
    {
      filterOutActive.map((link) => (
        <a href={link.path}>
          <div
            class:list={["navBox", { viewingPage: currentPage === link.title }]}
          >
            {link.title}
          </div>
        </a>
      ))
    }
  </nav>
</div>

<style>
  nav {
    display: flex;
    position: fixed;
    z-index: 100;
    width: 100vw;
    justify-content: space-evenly;
    background-color: var(--main_black);
    color: var(--main_white);
    text-transform: uppercase;
    padding: 10px;
    font-weight: 600;
    font-size: 1rem;
  }
  .navBox {
    padding: 10px;
    border-bottom: 2px solid var(--main_white);
  }

  .viewingPage {
    color: var(--main_black);
    background-color: var(--main_white);
  }
</style>
