---
import { mainNavigation } from "@routes/mainNavigation";
---

<div class="nav_inflineFloat">
  <nav>
    {mainNavigation.map((link) => <a href={link.path}>{link.title}</a>)}
  </nav>
</div>

<style>
  nav {
    display: flex;
    position: fixed;
    z-index: 100;
    left: 15%;
    width: 70vw;
    margin: 0 10px;
    justify-content: space-evenly;
    background-color: var(--main_black);
    color: var(--main_white);
    text-transform: uppercase;
    border-bottom: solid black 2px;
  }
</style>
