---
import '../styles/main.css';
import '@fontsource-variable/inter';
import '@fontsource-variable/crimson-pro';
import Navbar from '../components/custom/Navbar.astro';
import Footer from '../components/base/footer/Footer.astro';


interface Props {
  title: string;
  activePage: string
}

const { title = "Matterholt" ,activePage} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

     </head>
  <body>
    <main>
    <Navbar activePage={activePage}/>
      <slot />

    </main>
    <Footer>
    <Navbar activePage={activePage}/>
    </Footer> </body>
</html>
<style is:global>

  body {
    font-family: system-ui, sans-serif;
    background-color: var(--accent_dark);
    color: var(--main_white);
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    /* box-shadow: inset 0em 0em 160px var(--accent_dark-lighter); */
  }
  main {
    max-width: 1212px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

</style>
