---
import Text from "../components/base/text/Text.astro";
---

<div class="indexContent">
  <div slot="blurbTitle">
    <Text tag="h2">Homesteading</Text>
  </div>
  <div slot="blurbContent">
    <Text tag="p">
      Away from the computer I'll fouces on my mini farm, we got chickens to
      take care of along with a dozen or so Katadin sheep
    </Text>
  </div>
  <hr />
</div>
