---
const { frontmatter } = Astro.props;
import Main from "@layouts/page_layout/PageLayout.astro";
import { PageLayout } from "@layouts/index";

import { Text, Heading } from "@components/lib_comps/index";
import { SectionContainer } from "@components/blocks";

---

<PageLayout>
  <div class="writeup_header">

    
    <Text tag ="h2">{frontmatter.title}</Text>
    <div>

      <Text tag="p">{frontmatter.author || "Matterholt"}</Text>
      <Text tag="p">{frontmatter.pubDate.slice(0, 10)}</p>
      </div>
    </div>



    <div class="writeup_content">
<div class="writeup_content-text">
      <slot />
    </div>
    </div>
</PageLayout>
<style>
  .writeup_header{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .writeup_tags{
    display: flex;

  }
  .writeup_tag{
    outline: solid;
    width: min-content;
    margin:10px;
    padding:10px;
    border-radius: 5px;
  }
  .writeup_content{

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .writeup_content-text{
    width:90vw; 
  }

</style>
<style is:global>
  #writeups {
    --section-margine-top: 0px;
  }
  .writeup_content p {
    margin-bottom: 50px;
  }
  .writeup_content h2 {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 15px;
  }
  .writeup_content h1 {
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 15px;

  }
  .writeup_content li {
    margin: 10px;
  }
  .writeup_content ul {
    margin: 5px 0px;
  }
  .writeup_content code,pre{
    width:90%;
    overflow:scroll;
    margin:10px;
    padding:5px;
  }
</style>
