---
  const {navPage,pageName,path} = Astro.props

const currenttPage = pageName == navPage 


---



    {currenttPage ?
        <span class="navLink __current">{pageName}</span>
        :
        <a class="navLink __otherNav" href={path}>{pageName}</a>

        }



<style>
    .navLink{
        margin: 10px;
        padding:10px;
        text-transform: uppercase;
        border-bottom: inset 5px #ffffff00;
    }
    .__otherNav:hover{
        border-bottom: inset 5px var(--fav-accent);
    }
    .__otherNav:active{
        background-color: #e2e0e0;
        color:white;
    }
    .__current{
        font-weight: 700;
        background-color: #e2e0e0;
        border-bottom: 5px inset #a6815a;
    }
</style>