---
import { DateIt } from "@components/blocks";
import { Text, Alink, BentoBox } from "@components/lib_comps/index";

const { title = "", start = "", end = "" } = Astro.props;
---

<div class="titleDate_section_header">
  <div class="titleDate_date">
    {
      start !== "" ? (
        <BentoBox class="date_startDate">
          <Text>{start}</Text>
        </BentoBox>
      ) : null
    }
    {
      end !== "" ? (
        <BentoBox class="date_endDate">
          <Text>{end}</Text>
        </BentoBox>
      ) : null
    }
  </div>
  <BentoBox class="titleDate_title">
    <Text tag="h3">{title}</Text>
  </BentoBox> 
</div>

<style>
  .titleDate_section_header {
    display: grid;
    grid-template-columns: min-content 1.5fr;
    grid-template-rows: 1fr;
    padding: 10px;
    gap:10px;
  }
  .titleDate_date {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  .titleDate_title {
    display: grid;
    place-items: center;
  }

  .date_startDate {
    color: var(--main_black);
    background-color: var(--main_white);
    grid-area: start;
    font-weight: 700;
    font-size: 1.25em;
  }
  .date_endDate {
    background-color:;
    background-color: var(--main_gold);
    height: 50%;
    font-weight: 700;
    font-size: 1.25em;
  }
</style>
