---
import { getCollection } from "astro:content";

import type { ContentCareers } from "@utils/types";
import { DateIt, InternalLink } from "@components/blocks";
import { Text, Box, LinkBreak } from "@components/lib_comps/index";
import { formatContent } from "@utils/helpers";

interface Props {
  providedCareerPositions: ContentCareers[];
}

const { providedCareerPositions = null } = Astro.props;

const currentPositionHeld = async () => {
  const [mostRecent, ...r] = await getCollection("positions", ({ data }) => {
    return data.isCurrent;
  });
  return mostRecent;
};
// if career positions are provided then skip the summary
const defaultCurrentPosition = !providedCareerPositions ? true : false;

const careerStuff = defaultCurrentPosition
  ? await currentPositionHeld()
  : providedCareerPositions;

const jobs = defaultCurrentPosition
  ? await formatContent(careerStuff, "summary")
  : await formatContent(careerStuff, "full");

const { start, end, data, bodyParagraph } = jobs;

const { Content, headings } = await careerStuff.render();
---

<Box varient="light" Cssvars={{ sectionMarginControl: "0px " }}>
  {
    defaultCurrentPosition ? (
      <Text tag="h2">
        Current <LinkBreak>Position</LinkBreak>
      </Text>
    ) : null
  }

  <div class="text_box_content">
    <div class="dateit_container">
      <DateIt date={start} />
      <DateIt varient="endDate" text={end} />
    </div>
    <div>
      <Text tag="h3">{data?.jobTitle}</Text>

      {
        defaultCurrentPosition ? (
          <Text class="text_postion" tag="p">
            {bodyParagraph}
          </Text>
        ) : (
          <Content />
        )
      }
    </div>

    {
      defaultCurrentPosition ? (
        <div class="link_container">
          <InternalLink interPath="./career">Past Positions</InternalLink>
        </div>
      ) : null
    }
  </div>

  <style>
    .text_box_content {
      display: grid;
      grid-template-columns: min-content 5fr 1fr;
      grid-template-areas: "dateit content linkit ";
    }
    .dateit_container {
      display: grid;
      grid-template-columns: repeat(2, 85px);
      grid-area: dateit;
    }
    .link_container {
      place-self: center;
      align-self: center;
      justify-self: center;
      grid-area: linkit;
    }
    .text_postion {
      grid-area: content;
    }

    @media (max-width: 930px) {
      .text_box_content {
        grid-template-columns: min-content 1fr;
        grid-template-rows: 200px 1fr;
        min-height: 580px;
        grid-template-areas: "dateit content" "linkit content";
      }
    }
  </style>
</Box>
