---
import { DateIt, InternalLink } from "@components/blocks";
import { Text, Box, LinkBreak } from "@components/lib_comps/index";
import { jobPositionSummary } from "@utils/helpers";

const jobs = await jobPositionSummary("summary");
const { start, data, bodyParagraph } = jobs;
---

<Box varient="light" Cssvars={{ sectionMarginControl: "0px " }}>
  <Text tag="h2">Current <LinkBreak>Position</LinkBreak></Text>
  <div class="text_box_content">
    <div class="dateit_container">
      <DateIt date={start} />
      <DateIt varient="endDate" text="to</br>date" />
    </div>
    <div>
      <Text tag="h3">{data?.jobTitle}</Text>
      <Text tag="p">
        {bodyParagraph}
      </Text>
    </div>
    <div class="link_container">
      <InternalLink interPath="./career">Past Positions</InternalLink>
    </div>
  </div>
  <style>
    .text_box_content {
      display: grid;
      grid-template-columns: min-content max(550px) 1fr;
    }
    .dateit_container {
      display: grid;
      grid-template-columns: repeat(2, 85px);
      place-items: center;
      /* grid-template-rows: repeat(2, 100px); */
    }
    .link_container {
      place-self: center;
      align-self: center;
      justify-self: center;
    }
  </style>
</Box>
