---
import { getCollection } from "astro:content";
import { DateIt } from "@components/blocks";

import { Text, Box, LinkBreak } from "@components/lib_comps/index";

const currentPosition = await getCollection("positions", ({ data }) => {
  return data.isCurrent === true;
});
console.log(currentPosition);
const { data, body } = currentPosition[0];
---

<Box varient="light" Cssvars={{ sectionMarginControl: "0px " }}>
  <Text tag="h2">Current <LinkBreak>Position</LinkBreak></Text>
  <div>
    <DateIt YY="0000" mm="00" dd="00" />
    <Text tag="h3">{data?.jobTitle}</Text>
    <Text tag="p">{body}</Text>
  </div>
</Box>
<style></style>
