@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-light.ttf');
    font-style: normal;
}

Roboto-Light html {
    font-size: 62.5%;
}

:root {
    --main-hex-dark: #06384d;
    /* --main-orange: #FDCA40; */
    /* --main-orange: #ff8800bb; */
    /* --main-orange: #9B4828; */
    --main-orange: #a6815a;
    --main-hex-light: #eaedf2;
    --main-white: #eaedf2;

}

html,
body {
    margin: 0;
    padding: 0;
    color: var(--main-hex-dark);
    background-color: var(--main-hex-light);
    scroll-behavior: smooth;
    font-size: 62.5%;
}

h1,
h2,
h3 {
    font-family: Montserrat;
    font-size: 2.0rem;
    font-weight: 900;
}

p,
li,
a {
    font-family: Roboto;
    font-weight: 100;
    font-size: 1.8rem;
}


h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}