@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-light.ttf');
    font-style: normal;
}


:root {
    --main-hex-dark: #06384d;
    /* --main-orange: #FDCA40; */
    /* --main-orange: #ff8800bb; */
    /* --main-orange: #9B4828; */
    --main-bronze: #a6815a;
    --main-hex-light: #eaedf2;
    --main-white: #eaedf2;

}

html,
body {
    margin: 0;
    padding: 0;
    color: var(--main-hex-dark);
    background-color: var(--main-hex-light);
    scroll-behavior: smooth;
    font-size: 62.5%;
}

h1,
h2,
h3,
h4,
figure {
    font-family: Montserrat;
        margin: 0;
        padding: 0;
}

ul,
p {
  font-family: Roboto;
    margin: 0;
    padding: 0;
}
section{
    min-height: 80vh;
}