.pageList{
    article{
    margin: 25px 0;
    display:grid;
    grid-template-columns: 1fr 25%;
    grid-template-rows: 50px 1fr;
}
}

.articlePage__heading{
    grid-row:1;
    grid-column:1 ;
    align-self: center;
    
}
.articlePage__description{
    grid-row: 2;
    grid-column: 1;
   align-self: center;

}
.articlePage__readMore {
        grid-row:2;
        grid-column:2;
        place-self: center;
}
.articlePage__date{
            grid-row:1;
            grid-column:2;
            place-self: center;
}

.articlePage__linkArticlePage{
    display: flex;
    flex-direction: column;
    margin: 50px;
    text-align: center;
    justify-content: center;
    &--button{
        color: var(--main-white);
        background-color: var(--main-fav-bronze);
        margin:10px;
          padding: 1em 1.5em;
          text-decoration: none;
          text-transform: uppercase;
          border-radius: 5px;

    }
    &--button:hover {
        background-color: #ae8354;
        box-shadow: 4px 5px 8px #0000001c;
    }
    &--button:active {
        color: var(--main-white);
        background-color: var(--main-fav-bronze);
    }
}