header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.2rem;
    border-bottom: 4px solid var(--main-fav-bronze);

}
.pageTitle{
    font-size: 3rem;
}



.postLink {
    display: flex;
    justify-content: flex-end;
    margin: 1px;
}


nav {
    align-self: stretch;
}

.link_dark {

        list-style: none;
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        color: var(--main-fav-light);
        display: flex;
        align-items: center;
        text-transform: uppercase;
        li{
            margin-left: 25px;
            border-radius: 5px;
            overflow: hidden;
        }
   
    a {
        color: var(--main-fav-bronze);
        text-decoration: none;
        padding: 15px;
    }
    strong{
        border-bottom:solid 2px var(--main-fav-dark);
        color:var(--main-fav-dark);
        padding: 15px;
    }

    a:active {
        color: rgb(143, 147, 199);
    }

    a:hover {
        border-bottom: solid 2px var(--main-fav-dark);
    }
}