header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.2rem;
    border-bottom: 4px solid var(--main-fav-bronze);

}
.pageTitle{
    font-size: 3rem;
}


nav {
    ul {
        list-style: none;
        font-size: 1.5rem;
        color: var(--main-fav-light);
        display: flex;
        align-items: center;
        text-transform: uppercase;
        li {
            padding: 10px;
        }
    }
}