.postListing {
    margin-top: 60px;
    width: 100%;
    padding: 25px;

    &__heading {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__title {
        font-weight: 900;
        font-size: 2.5rem;
        text-transform: uppercase;
    }

    &__date {
        font-size: 1rem;
    }

    &__description {
        margin: 25px 0;
        padding: 15px;
    }

}

.postTag {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    margin: 15px 0;
    width: 100%;

    h4 {
        margin-right: 5px;
    }

}

.postTag__tagList {
    font-size: 1rem;
    list-style: none;
    display: flex;

    li {
        background-color: #bdc8cc;
        margin: 5px;
        padding: 10px;
        font-weight: 700;
        border-radius: 5px;
    }
}