.landing__section{
    grid-row: 1;
    grid-column: 2;
   place-self:center;
   position: relative;
   z-index: 10;  
}


.landing__content{
padding: 10px 50px;
 border-radius:2px;
}


.landing__title {
    font-weight: 900;
    font-size: 3.5rem;
    margin:50px 0px;
    padding-bottom: 15px; 

}

.landing__subtitle {
    font-size:2.0rem;
    font-weight: 100;
    line-height: 4rem;
    margin:50px 0px;
    p{
        margin-bottom: 2rem;
    }
}

.landing__Intro {
    margin:50px 0px;
    font-size: 1.5rem;
    font-weight: 200;
    display: flex;
    position: relative;

}
.landing__IntroContent {
    background-color: #515557;
     padding: 2em 3em;
    position:absolute;
    width: 50%;
    height: 25%;
    top: 10px;
    right: 0px;
    border-radius: 5px;
    box-shadow: 5px 8px 10px #414547;
    backdrop-filter: blur(2px);


}
.landing__profileImage{
        border-radius: 10px;
        overflow: hidden;
}
.landing__LatestPost{
    grid-row: 2;
    grid-column: 2;
    
}
.landing__FavCode{
        grid-row: 3;
        grid-column: 2;
}


.landing___content {
    font-size: 2rem;
    display:flex;
    min-height:40vh;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    margin-bottom: 50px;
}


.postListing {
        margin-top: 60px;
        width: 100%;
        padding: 25px;
        
    &__heading {
        margin-bottom:30px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &__title{
        font-weight: 900;
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    &__date{
        font-size: 1rem;
    }
    &__description{
        margin: 25px 0;
        padding: 15px;
        color:white;
    }

}

.postTag {
    display:flex;
    align-items: center;
    font-size:1.5rem;
    margin: 15px 0;
     width:100%;
    h4 {
        margin-right: 5px;
    }

}

.postTag__tagList{
    font-size:1rem;
    list-style: none;
    display: flex;
        li {
            background-color: #bdc8cc;
            margin: 5px;
            padding: 10px;
            font-weight: 700;
            border-radius: 5px;
        }
}