@import '_global';
@import 'header';
@import 'landingPage';
@import 'articlePage';
.lightScheme {
    background-color: var(--main-white);
    color: var(--main-black);
}

.darkScheme {
    color: var(--main-white);
    background-color: var(--main-black);
}
.postLink{
    display:flex;
    justify-content: flex-end;
    margin: 1px;
}

.link_dark{
    a {
         color: var(--main-fav-bronze);
         text-decoration: none;
         padding-bottom: 2px;
    }
    a:active{
        color:rgb(143, 147, 199);
    }
    a:hover{
        border-bottom:solid 2px var(--main-fav-light);
    }
    strong{
        color: var(--main-white);
        padding-bottom: 2.1px;
        font-weight: 900;
    }
}

.pageLayout{
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-rows: auto;
    width: 100vw;
    margin:0;
}

.page__content{
    grid-column: 2;
    grid-row:1;
    font-size: 2rem;
    display:flex;
    flex-direction: column;
}

.image__background{
    filter: blur(5px);
    position: relative;
    top:0;
    left:0;
    z-index: 1;
}