@import '_global';
@import 'header';
@import 'landingPage';
@import 'articleCards';
@import 'pagesLayout';

.lightScheme {
    background-color: var(--main-white);
    color: var(--main-black);
}

.darkScheme {
    color: var(--main-white);
    background-color: var(--main-black);
}


.pageLayout{
    display: grid;
    grid-template-columns: repeat(5,20%);
    margin:0;
}

.page__content{
    grid-column: 2;
    grid-row:1;
    font-size: 2rem;
    display:flex;
    flex-direction: column;
}

.image__background{
    filter: blur(5px);
    position: relative;
    top:0;
    left:0;
    z-index: 1;
}
.footer{
    background-color: var(--main-fav-dark);
    color: var(--main-white);
    height: 50px;
}