---
import Stackbliz from "../components/Stackbliz.astro";
import SocialLink from "../components/blocks/SocialLink.jsx";
---

<footer>
  <Stackbliz />
  <SocialLink />
  <div class="m-2 text-xs text-right">
    <p class="m-2 text-xs font-thin text-myDark">
      ​All Rights Reserved |Website & Hosting by Matterholt made
    </p>
  </div>
</footer>
