---
import SubTitle from "@components/blocks/SubTitle.astro";
---

<header class="">
  <slot name="Nav" />

  <div class="top">
    <h1 class="text-6xl uppercase bold mb-10 customFont-Anton tracking-wider">
      Matterholt <br /> Made
    </h1>
  </div>

  <h2>ADD SOME DESIGN or somthing</h2>
  <SubTitle content="Interest" />
  <ul>
    <li>
      Primarly focused Front end developement but won't shy away from a
      challenge
    </li>

    <li>Staying current with React.js, exploring other frameworks</li>
    <li>Building personal sites with Astro.js</li>
    <li>Favored JS runtime is DENO.</li>
    <li>Interested in getting a better understanding of the RUST lang</li>
  </ul>
</header>
<style>
  li {
    margin-top: 8px;
  }
  header {
    max-width: 1024px;
    margin: 5px;
  }
  .top {
    display: flex;
    justify-content: space-between;
    height: 70vh;
  }
</style>
