---
---

<header class="">
  <div class="top">
    <h1 class="text-6xl uppercase bold mb-10 customFont-Anton tracking-wider">
      Matterholt <br /> Made
    </h1>
    <slot name="Nav" />
  </div>
</header>
<style>
  li {
    margin-top: 8px;
  }
  header {
    max-width: 1024px;
    margin: 5px;
  }
  .top {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    outline: solid;
  }
</style>
