---
---

<header class="">
  <slot name="Nav" />

  <div class="top">
    <h1 class="text-6xl uppercase bold mb-10 customFont-Anton tracking-wider">
      Matterholt <br /> Made
    </h1>
  </div>
  <h2>ADD SOME DESIGN or somthing</h2>
  s
</header>
<style>
  li {
    margin-top: 8px;
  }
  header {
    max-width: 1024px;
    margin: 5px;
  }
  .top {
    display: flex;
    justify-content: space-between;
    height: 70vh;
  }
</style>
