---
  import SocialLink from "../components/SocialLink.jsx"

  let siteTitle = "Matterholt Devs"
  let siteDescription ="FULL STACK, REACT.js, OPEN TO LEARN, DIVERSE IN KNOWLEDGE"
---

<style>
header
   {
     font-family: Helvetica, Arial, sans-serif;
    color: var(--fav-dark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
  }
      h1 {

      margin: 0px;
      font-weight: 900;
    }
    p {
      font-weight: 100;
    }

  </style>

    <header class="header">
      <div>
<a href="/">
          <h1>{siteTitle}</h1>
</a>
        <p>{siteDescription}</p>
      </div>

      <a href="workHistory">Work</a>


    </header>
