---
  import SocialLink from "../components/SocialLink.jsx"
  import SVG from "../components/SVG.astro"

  let siteTitle = "Matterholt Devs"
  let siteDescription ="REACT, REACT NATIVE, OPEN TO LEARN, DIVERSE IN KNOWLEDGE"
---

<style>
header
   {
     font-family: Helvetica, Arial, sans-serif;   
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    background-color: var(--fav-dark);
    color: var(--main-white);
    padding: 20px;
  }
      h1 {

      margin: 0px;
      font-weight: 900;
    }
    p {
      font-weight: 100;
    }

  </style>

    <header class="header">

      <div>
      <a href="/">
          <h1>{siteTitle}</h1>
        </a>
        <p>{siteDescription}</p>
      </div>




    </header>
