---
---

<div class="nav-container">
  <nav class="nav-position">
    <a href="/">home</a>
    <a href="/career">Career</a>
    <a href="/projects">Projects</a>
    <a href="/blog">Blog</a>
  </nav>
</div>
<style>
  .nav-container {
    position: relative;
    height: 0px;
    outline: solid;
  }
  .nav-position {
    top: 20px;
    left: 150px;
    z-index: 100px;
    width: 20%;
    height: 150px;
    position: sticky;
  }
  nav {
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -3px -2px 5px var(--bg-primary);
    background-color: var(--bg-primary-white);
  }
  a {
    text-transform: uppercase;
  }
</style>
