<nav>
  <a href="/">home</a>
  <a href="/career">Career</a>
  <a href="/projects">Projects</a>
  <a href="/blog">Blog</a>
</nav>
<style>
  nav {
    width: 20%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  a {
    text-transform: uppercase;
    border-bottom: solid black 1px;
  }
</style>
