---
    import BaseHead from "./BaseHead.astro"
    import Header from './Header.astro'
    import SocialLink from "../components/SocialLink.jsx"

---
<html lang="en">
<BaseHead/>
  <body>
  <Header />
    <slot />
          <SocialLink />
  </body>
</html>