---
  import BaseHead from "./BaseHead.astro"
  import Header from './Header.astro'
  import Navigation from "../components/Navigation.astro"
  const {navPage} = Astro.props

---
 <!DOCTYPE html>
<html lang="en">

<BaseHead/>
  <body>
  <Header>
      <Navigation navPage={navPage}/>
  </Header>
  <main>
    <slot />
    </main>
  </body>
</html>

<style>

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-white);
    color: var(--main-black);
    font-size: 1.5rem;
}
</style>