---
import { siteRoutes } from "./routes";
import { TopBar, Hamburger } from "./components/index";

const { pathname } = Astro.url;

const isPage = (title: string) => {
  const urlPath = pathname.split("/");
  if (title === "Home" && urlPath.every((x) => x === "")) {
    return true;
  }
  return urlPath.includes(title.toLowerCase());
};
---

<nav>
  <TopBar>
    {
      siteRoutes.map((x) => (
        <li>
          <a
            class:list={[{ isCurrentPage: isPage(x.title) }, "fontStyle"]}
            href={x.path}
          >
            {x.title}
          </a>
        </li>
      ))
    }
  </TopBar>
  <Hamburger>
    {
      siteRoutes.map((x) => (
        <li>
          <a
            class:list={[{ isCurrentPage: isPage(x.title) }, "fontStyle"]}
            href={x.path}
          >
            {x.title}
          </a>
        </li>
      ))
    }
  </Hamburger>
</nav>
<style>
  nav {
    position: relative;
    display: flex;
    justify-content: center;
    height: 35px;
    margin: 25px 0px;
    a {
      color: var(--main_complementary);
      margin: 0 20px;
    }
    a:active {
      color: var(--main_white);
    }
    a:hover {
      font-weight: 900;
    }
  }
  .fontStyle {
    text-decoration: none;
    font-family: "Doto Variable", sans-serif;
    font-weight: 500;
    font-size: 25px;
  }
  a.isCurrentPage {
    border-bottom: none;
    color: var(--main_accent-blue);
    border-bottom: 2px dotted var(--main_accent-blue);
    cursor: default;
    pointer-events: none;
  }
</style>
