---
import { Box, PostIntro, Text, Alink, LinkBreak } from "@components/lib_comps";
import { filterCollectionsBy } from "@utils/post_collections/";
import { SectionContainer, InternalLink } from "@components/blocks";

const latestPost = await filterCollectionsBy("most_recent");

const { id, link, title } = {
  id: "writeups",
  link: "\\writeups",
  title: "write ups",
};
---

<Box varient="light">
  <div class="latestpost_layout">
    <Text tag="h2">What has <LinkBreak>peek my Interest</LinkBreak></Text>
    <div class="latestpost_writeup">
      <PostIntro postFrontMatter={latestPost} />
    </div>
    <div class="latestpost_linktomore">
      <InternalLink>
        <Text>Write Ups</Text>
      </InternalLink>
    </div>
  </div>
</Box>
<style>
  .latestpost_layout {
    display: grid;
    grid-template-rows: 170px 1fr;
    grid-template-columns: 1fr 200px;
  }
  .latestpost_writeup {
    grid-column: 1;
    grid-row: 2;
  }
  .latestpost_linktomore {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
  }
</style>
