---
import { Box, PostIntro, Text, Alink, LinkBreak,BentoBox } from "@components/lib_comps";
import { filterCollectionsBy } from "@utils/helpers/post_collections/";
import { SectionContainer, InternalLink } from "@components/blocks";

const [latestPost, ...r] = await filterCollectionsBy("most_recent");

const { id, link, title } = {
  id: "writeups",
  link: "\\writeups",
  title: "write ups",
};
---

<Box >
  <div class="latestpost_layout">
    <Text tag="h2">What has <LinkBreak>peek my Interest</LinkBreak></Text>
    <div class="latestpost_writeup">
      <PostIntro postFrontMatter={latestPost} />
    </div>
    <div class="latestpost_linktomore">
      <InternalLink interPath="./writeups">Write Ups</InternalLink>
    </div>
  </div>
</Box>
<style>
  .latestpost_layout {
    display: grid;
    grid-template-rows: 170px  1fr ;
    grid-template-columns: 1fr 130px;
    grid-template-areas: "title linkTo""latestpost latestpost";
    margin: 50px 10px;
    gap:15px;
  }
  .latestpost_writeup {
    grid-area: latestpost;
  }
  .latestpost_linktomore {
    align-self: center;
    justify-self: center;
    grid-area: linkTo
  }
  @media (max-width: 640px) { 
    .latestpost_layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0px ;
    text-align: center;
  }
  }
</style>
