  <nav class="nav_container">
    <a class="navigationLink" href="#interest">Interest</a>
    <a class="navigationLink" href="#about">About</a>
    <a class="navigationLink" href="#projects">Projects</a>
  </nav>