---
export interface Props {
  YY: string;
  mm: string;
  dd: string;

}
const {YY,mm,dd} = Astro.props

---

<ul class="date_it_container date_it_text">
    <li>{YY}</li>
    <li>{mm}</li>
    <li>{dd}</li>
  
</ul>

<style>

.date_it_container{
    width:120px;
    height:120px;
    background-color:var(--main_black);
    clip-path: circle(3.6rem at 100% 50%);

    }
    
    .date_it_text{
        color: var(--main_white);
    text-align:right;
    padding-top:5px;
    padding-right:5px;
    display:flex;
    flex-direction:column;
    justify-content:center; 
    font-family: "Hanuman-thin", "PT Sans", Calibri, Tahoma, sans-serif;
    }
    
    
    </style>