---
import SectionContainer from "@layouts/SectionContainer.astro";
import { Alink, Content, Heading, PostIntro } from "@components/lib_comps";

// TODO, sort post, clean data up
---

<SectionContainer>
  <Heading>
    <Content elementTag="h2">Latest Post</Content>
  </Heading>
  <a href={url}>
    <div class="post_header">
      <h4>
        {title}
      </h4>
      <p>{pubDate.slice(0, 10)}</p>
    </div>
  </a>
  <p>{slug}</p>
  <Alink id="test" link="./writeups" title="other write ups" />
</SectionContainer>

<style>
  h3 {
    font-weight: 900;
    font-size: 30px;
  }
  h4 {
    font-weight: 500;
    font-size: 20px;
  }
  .post_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 10px 5px;
  }
</style>
<script></script>
