---
/*
postSetting -> allow the post listing, changes displayed props and sytles??

*/
import InitialsIcon from "../blocks/InitialsIcon.astro";

const { url, postGlob, postSetting } = Astro.props;

const { title, pubDate, slug } = postGlob;
---

<div>
  <a href={url}>
    <div class="post_header">
      <h4 class="post_title">
        {title}
      </h4>
      <p>{pubDate?.slice(0, 10) || ""}</p>

      <InitialsIcon size="25px" borderWidth="2px" />
    </div>
  </a>
  <p class="slug">{slug}</p>
</div>
<style>
  .post_title {
    font-weight: 500;
    font-size: 20px;
  }
  .post_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--bg-primary-30);
    padding: 10px 5px;
  }
  .slug {
    margin: 10px 0px;
    line-height: 25px;
  }
</style>
