---
const { pageId } = Astro.props;
import NavBar from "@layouts/html_styled_comps/NavBar.astro";
---

<body id={pageId} class="flex flex-col items-center">
  <!-- <NavBar pageId={pageId} /> -->
  <slot />
</body>
<style>
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    background-color: var(--main_black);
  }
</style>
