---
import Head from "./Head.astro";
import Body from "./Body.astro";
import Footer from "./Footer.astro";

const { pageId } = Astro.props;
---

<html lang="en">
  <Head />
  <Body pageId={pageId}>
    <slot />
    <Footer />
  </Body>
</html>
